<div class="page-header">
  <h1>Lugar de pago</h1>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @lugar_pago.codigo %></dd>

  <dt>Descripción:</dt>
  <dd><%= @lugar_pago.descripcion %></dd>

  <br/><br/>
  <%= link_to lugar_pagos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_lugar_pago_path(@lugar_pago), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to lugar_pago_path(@lugar_pago), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
