<%= form_for(@cargosnd, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @cargosnd.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @cargosnd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cargo_agrup, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cargo_agrup, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cargo_cod, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cargo_cod, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cargo_categ, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cargo_categ, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nivel, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :nivel, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cargo_desc, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cargo_desc, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to cargosnds_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>
