<div class="page-header">
  <h1>primaria_cargo</h1>
</div>

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @primaria_cargo.descripcion %></dd>

  <dt>Codigo nomen:</dt>
  <dd><%= @primaria_cargo.codigo_nomen %></dd>

  <dt>Cargo inscrip doc:</dt>
  <dd><%= @primaria_cargo.cargo_inscrip_doc %></dd>

  <dt>Inscripcion:</dt>
  <dd><%= @primaria_cargo.inscripcion %></dd>

  <dt>Funcion:</dt>
  <dd><%= @primaria_cargo.funcion %></dd>

  <br/><br/>
  <%= link_to primaria_cargos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_primaria_cargo_path(@primaria_cargo), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to primaria_cargo_path(@primaria_cargo), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
