<div class="page-header">
<%= nested_form_for(@inscripcion, multipart: true, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @inscripcion.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-4">
         <%= f.label :fecha_de_incripción, :class => "control-label" %>
      </div>
      <div class="col-md-8">
         <%= f.date_select :fecha_incripcion, disabled: true, :class => "form-control", :style=>"width:100%" %>
      </div>      
    </div>

    <div class="form-group">
      <div class="col-md-4">
        <%= label_tag "Indique la región a la que desea inscribirse:", nil, :class => "control-label" %>
      </div>
      <div class="col-md-8">
        <%= f.collection_select(:region_id, Region.all, :id, :nombre, {:prompt => true}, :class=> "dropdown-menu", :style=>"width:80%") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">        
      </div>
      <div class="col-md-8">
        <p>Los CAMBIOS DE CABECERA podrán realizarse ente el 10 y el 14 de diciembre antes del primer ACTO PÚBLICO PROVINCIAL del CONCURSO DE  INGRESO A LA DOCENCIA, en la JUNTA DE CLASIFICACIÓN correspondiente.</p>
      </div>
    </div>
    <%= f.text_field :persona_id, :class => "form-control hidden" %>
    <%= f.text_field :concurso_id, :class => "form-control hidden" %>
  </div>
      
<h2>Cargos que solicita</h2>
  <h4>Seleccione los cargos ingresando a la opción "Agregar Cargo" y elija para cada uno de ellos una númeración ordinal según su prioridad</h4>
  <%= f.fields_for :cargo_inscrip_doc do |ca|%>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <%= f.label :juntafuncion_id, "Cargo", :class => "control-label" %>
        </div>
        <div class="col-sm-4">
          <%= ca.collection_select(:juntafuncion_id, @inscripcion.persona.get_cargos, :id, :to_s, {:prompt => true}, :style=>"width:100%") %>
        </div>
        <div class="col-sm-2">
          <%= label_tag "Prioridad", nil,  :class => "control-label" %>
        </div>
        <div class="col-sm-2">
          <%= ca.number_field :opcion, :class => "form-control", :id => "opcion" %>
        </div>
        <div class="col-sm-1">      
          <%= ca.link_to_remove "Eliminar", :class => "label label-danger eliminar_cargo" %>  
        </div>        
      </div>
    </div>    
    <%= ca.number_field :inscripcion_id, :class => "form-control hidden" %>                         
  <% end %>

  <div class="row">
    <%= f.link_to_add "Agregar Cargo", :cargo_inscrip_doc, :class => "label label-success" %>
    </div><br/>
  
<h4>Para que se guarde la confirmación de todos sus datos ingresados, NO olvide hacer click en "Guardar"</h4>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to docenteInscripcion_path(@inscripcion.persona.id), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function() { 
    $('select').select2(); 
    $('div.marked_for_destruction').hide()
  });
</script>