<% if @inscripcion.persona.tiene_cargo_titular %>
<%= form_for @inscripcion.persona do |pa| %>
  	<h2>Cargos ocupados</h2>
    <%= pa.fields_for :rubros do |ru| %>
    	<% if ru.object.titular %>
    	<div class="row">
    		<p>Titular en cargo<strong> <%= ru.object.juntafuncion.descripcion %></strong></p>
    		
		    <div class="form-group">
			    <div class="col-md-4">
			        <%= ru.label 'Establecimiento Educativo', :class => "control-label" %>
			    </div>
		        <div class="col-md-8">
		        <%= ru.select( :establecimiento_id, ["", ""] + Establecimiento.all.map { |e| [e.to_s, e.id] }, { include_blank: true }, :style=>"width:100%") %>
		        </div>
		    </div>
		    <br><br>
		    <div class="form-group">
			    <div class="col-md-4">
			        <%= ru.label 'Otro Lugar', :class => "control-label" %>
			    </div>
		        <div class="col-md-8">
		        <%= ru.text_area :otro_lugar, :class => "form-control" %>
		        </div>
		    </div>

		</div>
    	<% end %>
    <% end %>
    <br><br><br>
    <div class="form-group">
       <div class="col-sm-offset-2 col-sm-6">
      		<%= pa.submit :class => "btn btn-primary", :value => "Guardar" %>      
    	</div>
  </div><br>
<% end %>
<% end %>
	
