<div class="page-header">
<%= nested_form_for(@inscripcion, multipart: true, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @inscripcion.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>Inscripción Docente</h1><br>
    <div class="form-group">
        <%= label_tag "Region", nil, :class => "col-sm-4 control-label" %>
       <div class="col-sm-8">
       <%= f.collection_select(:region_id, Region.all, :id, :nombre, {:prompt => true}, :class=> "dropdown-menu") %>
       </div>
    </div>
    <div class="form-group">
       <%= f.label :cabecera, :class => "col-sm-4 control-label" %>
       <div class="col-sm-6">
       <%= f.text_field :cabecera, :class => "form-control" %>
       </div>
     </div>
    <div class="form-group">
       <%= f.label :fecha_de_incripción, :class => "col-sm-4 control-label" %>
       <div class="col-sm-6">
       <%= f.date_select :fecha_incripcion, :class => "form-control" %>
       </div>
     </div>
     <div class="form-group">
       <%= f.label :persona_id, :class => "col-sm-2 control-label hidden" %>
       <div class="col-sm-6">
       <%= f.text_field :persona_id, :class => "form-control hidden" %>
       </div>
    </div>
    <div class="form-group">
       <%= f.label :concurso_id, :class => "col-sm-4 control-label" %>
       <div class="col-sm-6">
       <%= f.collection_select(:concurso_id, Concurso.all, :id, :descripcion, {:prompt => true}, :style=>"width:100%") %>
       </div>
    </div>

<h2>Cargos que posee</h2> <br>
    <div class="form-group">
       <%= f.label :ambito, :class => "col-sm-4 control-label" %>
       <div class="col-sm-6">
       <%= f.select(:ambito_id, ["",""]+Ambito.all.map { |e| [e.to_s, e.id] }, {include_blank: true}, :style=>"width:100%" )%>
       </div>
    </div>
    <div class="form-group">
       <%= f.label :escuela_titular, :class => "col-sm-4 control-label" %>
       <div class="col-sm-6">
       <%= f.select( :establecimiento_id, ["", ""] + Establecimiento.all.map { |e| [e.to_s, e.id] }, { include_blank: true }, :style=>"width:100%") %>
       </div>
    </div>
       
<h2>Cargos que solicita</h2>
   
      <%= f.fields_for :cargo_inscrip_doc do |ca|%>
         <div class="form-group">
            <div class="col-sm-2">
              <%= f.label :funcion_id, "Cargo", :class => "control-label" %>
            </div>
            <div class="col-sm-6">
              <%= ca.collection_select(:funcion_id, @inscripcion.persona.get_cargos, :id, :descripcion, {:prompt => true}, :style=>"width:100%") %>
            </div>
          <div class="col-sm-2">
            <%= label_tag "Prioridad", nil,  :class => "col-sm-4 control-label" %>
          </div>
            <div class="col-sm-2">
              <%= ca.number_field :opcion, :class => "form-control", :id => "opcion" %>
            </div>
          </div>
     
         <div class="form-group">      
            <div class="text-right">
            <%= ca.link_to_remove "Eliminar", :class => "label label-danger eliminar_cargo" %>  
            </div>
         </div>
           <div class="form-group">
            <%= f.label :inscripcion_id, :class => "col-sm-2 control-label hidden" %>
            <div class="col-sm-06">
            <%= ca.number_field :inscripcion_id, :class => "form-control hidden" %>
            </div>
         </div>
         <div class="form-group">
            <%= f.label :persona_id, :class => "col-sm-2 control-label hidden" %>
            <div class="col-sm-6">
            <%= ca.number_field :persona_id, :class => "form-control hidden", :value => @inscripcion.persona_id  %>
            </div>
         </div>
       <% end %>
      <%= f.link_to_add "Agregar Cargo", :cargo_inscrip_doc, :class => "label label-success" %>
  
  <br/>
  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to @inscripcion, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() { $('select').select2(); });
</script>