  <center>
  <font align="center" face="arial" size="5" color="black"> Inscripciones por docente seleccionado</font>
  </center >
  <br/> 
  <% region_id = Rubro.where(persona_id: @persona.id).first.id %>
  <% nombre_region = Region.where(id: region_id).first.nombre %>
  <center>
       <dt>Region de la Inscripción:   <%= nombre_region%></dt>
   </center >
   <center>
   <br/> 
   <font align="center" face="arial" size="4" color="black"> Datos personales del docente</font>
   </center >
  <br/>
  <div class="row">
      <div class="col-md-3 col-xs-6">
       <dt>Apellido y nombre:</dt><%= @persona.apeynom %>
      </div>
   </div>
  <br/>    
  <div class="row">    
      <div class="col-md-3 col-xs-3">
       <dt>Tipo documento:</dt> <%= @persona.tipo_documento %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Nro documento: </dt> <%= @persona.nro_documento %>
      </div>
       <div class="col-md-4 col-xs-3">
       <dt>Localidad: </dt> <%= @persona.localidad %>
      </div>
      <div class="col-md-4 col-xs-3">
       <dt>Estado civil: </dt><%= @persona.estado_civil %>
      </div>
  </div>      
  <div class="row">
      <div class="col-md-3 col-xs-3">
       <dt>Sexo: </dt> <%= @persona.sexo %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Fecha nacimiento: </dt> <%= Util.fecha_a_es(@persona.fecha_nacimiento) %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Telefono contacto: </dt> <%= @persona.telefono_contacto %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Email:</dt>  <%= @persona.email %>
      </div>
  <br/>
  <div class="row">
      <div class="col-md-3 col-xs-3">
       <dt>Calle: </dt> <%= @persona.calle %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Nro calle: </dt> <%= @persona.nro_calle %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Piso: </dt> <%= @persona.piso %>
      </div>
      <div class="col-md-3 col-xs-3">
       <dt>Depto: </dt> <%= @persona.depto %>
      </div>
      <br/>
      <div class="col-md-3 col-xs-5">
       <dt>Titulos:</dt>
        <% TituloPersona.where(:persona_id => @persona.id).each do |r| %>
        <% @titulo_persona = r.titulo_id  %>
        <% Titulo.where(:id => @titulo_persona).each do |t| %>
        <% @titulo_nombre = t.nombre  %>
        <%= @titulo_nombre %>
       <% end %>
       <% end %>
      </div>
  </div>
   <legend><p><center><font align="center" face="arial" size="4" color="black" class="wasap" >Mis Inscripciones</font></center></p></legend>
       <% Inscripcion.where(persona_id: @persona.id).each do |s| %>
       <% CargoInscripDoc.where(:inscripcion_id => s.id).each do |ca| %>
       <% @cargo_id = ca.cargo_id  %>  
       <% Funcion.where(:id => @cargo_id).each do |fu| %>
       <% @cargo_descripcion = fu.descripcion  %>
  <div class="row">
       <div class="col-md-3 col-xs-3">
        <dt>Fecha de Inscripcion:</dt>
        <dd><%= s.fecha_incripcion %></dd>
       </div>
       <div class="col-md-3 col-xs-6">
        <dt>Cargo:</dt>
        <dd><%= @cargo_descripcion %></dd>
       </div>
     </div>
    <% end %>
    <% end %>
    <% end %>
 <div style="width:95%;float:left;" class="form-title"><h5>POSEE CARGO/S EN LA ADMINISTRACION PUBLICA NACIONAL-PROVINCIAL Y/O MUNICIPAL</h5></div>
          <div style="text-align:left">REPARTICION:  <input id="esc_nombre" style="text-align:left" class="sub-puntos input-donde?" type="text"><Br/></div>
          <div style="text-align:left">SITUACION DE REVISTA: <input id="esc_nombre" style="text-align:left" class="sub-puntos input-donde?" type="text"></div>
          <Br/>
        <div style="text-align:left" >Declaro bajo juramento que todos los cargos consignados son veraces y exactos, de acuerdo a mi leal saber y entender. Asimismo declaro conocer el Articulo 67° de la Constitución Provincial y el Acta de Acuerdo Homologada por Resolucion N°648/95 de la Subsecretaria de Trabajo de la Provincia del Chubut</div>
        <Br/>
        <div>
        <table  border="1" cellspacing="20" cellpadding="1" >
          <tr>
             <th style="text-align:center" scope="col">En caso de ser adjudicado en 1 cargo de Bibliotecario Escolar hago expresa renuncia al cargo de M. de GRADO titular que ostento actualmente
             </th>
          </tr>
        </table>
        </div>
        <Br/>
        <table>
            <th style="text-align:left">Lugar y Fecha:<input style="text-align:left" class="sub-puntos input-donde?" type="text"></th>
            <th style="text-align:right" ><br> <br> </span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;...............................................<br>FIRMA<br></th>
         </table>
        <div>
           <div style="text-align:left" > Devolución de documentación: Causales
           <input style="text-align:left" class="sub-puntos input-Devolución de documentación: Causales" type="text"> 
         </div><br>
    <div class="page-break"></div>
        <HR background-color: black; width=50% align="center">
        <center> ESPACIO RESERVADO PARA JUNTA DE CLASIFICACION DOCENTE RUBROS(ART.29 LEY VIII - N° 20)<br><br>
        <table  border="1" cellspacing="4" cellpadding="4" >
    </div>
    <hr style="height:1px;border-width:0;color:black;background-color: black" />
  <% @total = 0 %>
  <% ru = Rubro.where(persona_id: @persona.id).first %>



<table class="egt">
  <tr>
<!--     <th>Region:</th> -->
    <th>R.I
    TITULO</th>
    <th>R.II
    PROMEDIO</th>
    <th>R.III
    A.TITULO</th>
    <th>R.IV
    A.GESTIÓN</th>
    <th>R.V
    S.PREST.</th>
    <th>R.VII
    RES.</th>
    <th>R.IX
    CUSRSOS</th>
    <th>R.XI
    Nuestra 
    Esc.</th>
    <th>Total</th>
  </tr>
  <tr>
<!--     <td><%= ru.region %></td> -->
    <td><%= ru.rubro_titulo %></td>
    <td><%= ru.promedio %></td>
    <td><%= ru.ant_doc %></td>
    <td><%= ru.rubro_gestion %></td>
    <td><%= ru.rubro_ser_prest %></td>
    <td><%= ru.rubro_residencia %></td>
    <td><%= ru.rubro_cursos %></td>
    <td><%= ru.rubro_concepto %></td>
    <td><%= ru.total %></td>
  </tr>
</table>

     <hr style="height:1px;border-width:0;color:black;background-color: black" />    