<%= form_for(@suplente, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @suplente.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @suplente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :altas_bajas_hora, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :altas_bajas_hora, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :altas_bajas_hora_suplantada, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :altas_bajas_hora_suplantada, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_desde, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :fecha_desde, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_hasta, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :fecha_hasta, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observaciones, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :observaciones, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :estado, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :estado, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to suplentes_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>
