<div class="page-header">
  <h1>titulo_persona</h1>
</div>

<dl class="dl-horizontal">
  <dt>Titulo:</dt>
  <dd><%= @titulo_persona.titulo_id %></dd>

  <dt>Persona:</dt>
  <dd><%= @titulo_persona.persona_id %></dd>
  <br/><br/>
  <%= link_to titulo_personas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_titulo_persona_path(@titulo_persona), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to titulo_persona_path(@titulo_persona), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
