
<%= javascript_include_tag "util.js" %>
<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>



<div class="container">

	</br>

	<legend class="legend-small">Modificacion de Cargos</legend>  



	<% if (current_user.role? :escuela) || (current_user.role? :sadmin) then %>
		<div class="panel panel-primary ">
			<div class="panel-heading">
				<h3 class="panel-title">
				
				</h3>
			</div>
			<div class="panel-body">
			<div class="table-responsive">
					<table id="tabla-cargos" class="table table-striped table-bordered table-hover" data-source = "<%= cargos_modificacion_path(format: :json) %>" >


						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Sit. Rev</th>          
								<th>Curso</th>
								<th>Div</th>
								<th>Codif.</th>
								<th>Fecha Alta</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<hr/>
	<% end %>

<script type="text/javascript">
$(document).ready(function($) {

	$.fn.editable.defaults.mode = 'inline';
	var tabla_altas_bajas = $('#tabla-cargos').dataTable({
		language : {"sUrl": "<%= asset_path('language.es.json') %>",},
		processing : true,
		serverSide : true,
		ajax : $('#tabla-cargos').data('source'),
		paging: false,
		columnDefs: [
            {
            		"targets": [ 1, 2, 3, 4, 5, 6 ],
            		"searchable": false,
                "orderable": false
            }
        ],
		searching: false,
		"initComplete": function(settings, json) {

        $('.division').editable();
        $('.anio').editable();
        $('.turno').editable();
        $('.codificacion').editable();
        $('.oblig').editable();
        $('.ciclo_carrera').editable();
      },
	})
	.on('draw.dt', function () {
		$( ".btn-ajax" ).on( "click", function() {
			var data_url = $(this).attr('data-url');
			$.ajax({
				url: data_url,
				type: 'GET',
			})
			.done(function(data) {
				tabla_altas_bajas.api().ajax.reload();
			});
		});
	});
});
</script>