<%= form_for(@rubro, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @rubro.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @rubro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="form-group">
  <div class="col-sm-10">
  <%= select_tag "persona", options_from_collection_for_select(Persona.all, "id", :to_s),:prompt => "Persona",:class => "form-control col-sm-6", :id => "persona" %>
    </div>
  <div class="col-sm-10">
      <%= f.label :persona_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :persona_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :R_I, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_titulo, :class => "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :R_II_promedio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :promedio, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :R_III_ant_doc, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ant_doc, :class => "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :R_IV_rubro_gestion, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_gestion, :class => "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :R_V_rubro_ser_prest, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_ser_prest, :class => "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :R_VII_rubro_residencia, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_residencia, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :R_XI_rubro_concepto, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_concepto, :class => "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :R_IX_rubro_cursos, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_cursos, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_asis_perf, :class => "col-sm-2 control-label hidden" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_asis_perf, :class => "form-control hidden" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :total, :class => "form-control" , readonly: true  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to rubros_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>
