<%= form_for(@rubro, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @rubro.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @rubro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :Persona, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= autocomplete_field_tag 'persona','', autocomplete_persona_apeynom_util_index_path, :placeholder => "Buscar persona", id_element: '#rubro_persona_id', :id => "persona", :class => "form-control"%>
      <%= f.hidden_field :persona_id %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Region, :class => "col-sm-2 control-label" %>
      <div class="col-md-10">
        <%= f.collection_select(:region_id, Region.all, :id, :nombre, {:prompt => true}, :class=>"form-control") %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :juntafuncion_id, "Cargo", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
          <%= f.collection_select(:juntafuncion_id, Juntafuncion.all, :id, :to_s, {:prompt => true}, :class=>"form-control") %>
   </div>  
  </div>
  <div class="form-group">
    <%= f.label :I_Titulo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_titulo, :step => "0.01",  :class => "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :II_promedio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :promedio, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :III_Antiguedad_docente, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ant_doc, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :IV_gestion, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_gestion, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :V_servicio_prestado, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_ser_prest, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :VII_residencia, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_residencia, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :IX_cursos, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_cursos, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :XI_concepto, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rubro_concepto, :step => "0.01", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :total, :step => "0.01", :class => "form-control" , readonly: true  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :titular, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :titular, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to rubros_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>

<% end %>
<script type="text/javascript">

$(document).ready(function($) {

  function recalcularTotal(){
    var total = 0;
    $("input[type=number][id!=rubro_total]").each( function (i, elem){
      if (!!elem.value)
        total += Number(elem.value);
    });
    $("#rubro_total").val(total);
  }

  $("input[type=number][id!=rubro_total]").change( recalcularTotal );

  recalcularTotal();

})


</script>