<%= form_for(@rubro, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @rubro.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @rubro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pesona_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :pesona_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :escuela_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :escuela_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_titulo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_titulo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_concepto, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_concepto, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_asis_perf, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_asis_perf, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_ser_prest, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_ser_prest, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_residencia, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_residencia, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_gestion, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_gestion, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_cursos, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_cursos, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ant_doc, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ant_doc, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubro_titulo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rubro_titulo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :total, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :promedio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :promedio, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :persona, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :persona, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :establecimiento, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :establecimiento, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to rubros_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>
