<div class="page-header">
  <h1>rubro</h1>
</div>

<dl class="dl-horizontal">

  <dt>Persona:</dt>
  <dd><%= @rubro.persona %></dd>

  <dt>R.I (Rubro titulo):</dt>
  <dd><%= @rubro.rubro_titulo %></dd>

  <dt>R.II (Promedio):</dt>
  <dd><%= @rubro.promedio %></dd>

  <dt>R.III (Rubro Antiguedad del Titulo):</dt>
  <dd><%= @rubro.ant_doc %></dd>

  <dt>R.IV (Rubro Antiguead de Gestion):</dt>
  <dd><%= @rubro.rubro_gestion %></dd>
  
  <dt>R.V (Rubro ser prest):</dt>
  <dd><%= @rubro.rubro_ser_prest %></dd>
  
  <dt>R.VII (Rubro residencia):</dt>
  <dd><%= @rubro.rubro_residencia %></dd>

  <dt>R.IX (Rubro Capacitaciones:</dt>
  <dd><%= @rubro.rubro_concepto %></dd>
  
  <dt>R.XI (Rubro Cursos):</dt>
  <dd><%= @rubro.rubro_cursos %></dd>

  <dt>Total:</dt>
  <dd><%= @rubro.total %></dd>

  <br/><br/>
  <%= link_to rubros_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_rubro_path(@rubro), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to rubro_path(@rubro), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
