<style type="text/css">
  .dl-horizontal dt {
    width: 20%;
  }
</style>
<div class="page-header">
  <h1>Puntajes</h1>
</div>

<div class="row">
  
  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Persona</label>
    </div>
    <div class="col-md-8">
      <label class="form-control">
        <%= @rubro.persona %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Cargo</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.juntafuncion %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Titulo (I)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_titulo %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Promedio (II)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.promedio %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Antiguedad del Titulo (III)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.ant_doc %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Antiguead de Gestion (IV)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_gestion %></label>
    </div>  
  </div>
  
  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Servicio Prestados (V)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_ser_prest %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Residencia (VII)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_residencia %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Capacitaciones (IX)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_concepto %></label>
    </div>  
  </div>
  
  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Cursos (XI)</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.rubro_cursos %></label>
    </div>  
  </div>
  
  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Total</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.total %></label>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label class="control-label">Titular</label>
    </div>
    <div class="col-md-8">
      <label class="form-control"><%= @rubro.titular %></label>
    </div>  
  </div>

</div>
<br/><br/>
<div class="row">
  
  <%= link_to rubros_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_rubro_path(@rubro), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  
</div>
