<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>
<%= javascript_include_tag "util.js" %>

<% @cargo_no_docente = CargoNoDocente.new %>
<div class="container">

  <legend>Listado de Bajas Permitidas y Realizadas de cargos no docentes</legend>
  
  <% if (current_user.role? :escuela or current_user.role? :sadmin) %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bajas Permitidas
        </h3>
      </div>
      <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-bajas" class="table table-striped table-bordered table-hover" data-source = "<%= cargo_no_docentes_bajas_path(format: :json) %>" >
          <thead>
            <tr>
              <th>DNI</th>
              <th>CUIL</th>
              <th style="width: 250px;">Apellido y nombre</th>
              <th>Secuencia</th>
              <th>CJ</th>
              <th>Cue</th>
              <th>Establecimiento</th>
              <th>Fecha Alta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <hr/>
  <% end %>
  
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Bajas Realizadas
      </h3>
    </div>
    <div class="panel-body">
      <div class="">
        <b>Seleccione un periodo de fechas: </b> <input type="text" id="daterange" /> </br></br>
      </div>
      <div class="table-responsive">
        <table id="tabla-bajas-efectivas" class="table table-striped table-bordered table-hover" data-source = "<%= cargo_no_docentes_bajas_efectivas_path(format: :json) %>" >
          <thead>
            <tr>
              <th>CJ</th>
              <th>Cue</th>
              <th>DNI</th>
              <th style="width: 250px;">Apellido y nombre</th>
              <th>CUIL</th>
              <th>Fecha Alta</th>
              <th>Fecha Baja</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-info" href="javascript:abrir_reporte('<%=cargo_no_docentes_bajas_efectivas_path%>.pdf',0,1,1,1,1,1,1,1500,900,100,100,1);"> <span class="glyphicon glyphicon-print"></span> Imprimir</a>

<!-- Modal -->
<div class="modal fade" id="modal_bajas_efectivas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Historial de Cambios</h4>
      </div>
      <div class="modal-body">
     
      <table class='table table-striped table-bordered'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody id='historial'>
        </tbody>
      </table>


        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_mostrar_historial">Historial de estados</button></div>
        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_ocultar_historial">Ocultar historial</button></div>
      </div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_modal_altas">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function($) {

  //Define el idioma de combodate
  moment.locale('es');

  //define el modo de visualizacion del x-editable
  $.fn.editable.defaults.mode = 'popup';

  //Carga DT
  var tabla_bajas_efectivas = $('#tabla-bajas-efectivas')
    .on('draw.dt', function () {
      $( ".btn-ajax" ).on( "click", function() {
        var data_url = $(this).attr('data-url');
        $.ajax({
          url: data_url,
          type: 'GET',
        })
        .done(function(data) { //if (data[status] == 'ok')
          tabla_bajas_permitidas.api().ajax.reload();
          tabla_bajas_efectivas.api().ajax.reload();
        });
      });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      "scrollX": true,
      ajax : $('#tabla-bajas-efectivas').data('source'),
      pagingType: "simple",      
      "pageLength": 5,
      columnDefs: [
            {
                "targets": [ 7 ],
                "searchable": false,
                "orderable": false
            }
        ]
    });

  //Carga DT
  var tabla_bajas_permitidas = $('#tabla-bajas')
    .on('draw.dt', function () {
      $('.popup-fecha')
      .on('save', function(e, params) {
        tabla_bajas_permitidas.api().ajax.reload();
        tabla_bajas_efectivas.api().ajax.reload();
      })
      .editable({
        savenochange: true,
        success: function(response, newValue) {
          if(response.status == 'error') return response.msg; //msg will be shown in editable form
        }
      });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing: true,
      serverSide: true,
      "scrollX": true,
      ajax : $('#tabla-bajas').data('source'),
      pagingType: "simple",
      "pageLength": 5,
      columnDefs: [
            {
                "targets": [ 8 ],
                "searchable": false,
                "orderable": false
            }
        ]
    });

  //JS para el periodo
  var date = new Date();
  $('#daterange').daterangepicker({
    format: 'DD/MM/YYYY',
    startDate: new Date(date.getFullYear(), date.getMonth(), 1),
    endDate: Date.today,
    minDate: '01/01/2010',
    maxDate: '31/12/2030',
    locale: {
      applyLabel: 'Ir',
      cancelLabel: 'Cancelar',
      fromLabel: 'Desde',
      toLabel: 'Hasta',
      firstDay: 1
    }
  });

  // Evento del daterangepicker para filtrar por rangos
  $('#daterange').on('apply.daterangepicker', function(ev, picker) {
    // Cambia la url agregando el campo rango como atributo
    tabla_bajas_efectivas.api().ajax.url('/soft/snpe/cargo_no_docente/cargo_no_docentes_bajas_efectivas.json?rango='+$('#daterange').val());
    // Recarga por ajax la tabla
    tabla_bajas_efectivas.api().ajax.reload();
    
  });
  
});
</script>