<legend class="legend-small">Bajas - Cargos auxiliares</legend>

<% @e = Establecimiento.find(session[:establecimiento])%>            
<div class="page-header">
  <h3>Escuela N° <%= @e.to_s %>, (<%= @mindate %> - <%= @maxdate %>)</h3>
</div>

<table id="horas-bajas-efectivas" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Agente</th>  
      <th>Sit. Rev</th>
      <th>Cargo</th>              
      <th>Turno</th>
      <th>Fecha Alta</th>
      <th>Fecha Baja</th>
      <th>Notificaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @bajas.each do |baja| %>
      <tr>
        <td><%= baja.persona.cuil %> --- <%= baja.persona.to_s %></td>
        <td><%= baja.situacion_revista %></td>
        <td><%= Cargosnd.find(baja.cargo).to_s %></td>
        <td><%= baja.turno %></td>
        <td><%= Util.fecha_a_es(baja.fecha_alta) %></td>
        <td><%= Util.fecha_a_es(baja.fecha_baja) %></td>
        <td><span class="label label-<%=baja.estados.last.color_estado%>"><%= baja.estado_actual %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <br/>   
  <br/>   
  <br/>   
  <br/>   
  <br/>   
  <br/>   
  <br/>     
  .............................
  <br/>
  <b>Firma del Director</b>
</div>