<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Cargo No Docente - <%= @cargo_no_docente.persona %></h1>
    </div>
</div>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Agente</label>
            <p class="form-control-static"><%= @cargo_no_docente.persona %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">DNI</label>
            <p class="form-control-static"><%= @cargo_no_docente.persona.nro_documento %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Cuil</label>
            <p class="form-control-static"><%= @cargo_no_docente.persona.cuil %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Establecimiento</label>
            <p class="form-control-static"><%= @cargo_no_docente.establecimiento %></p>
          </div>
        </div>
  
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Secuencia</label>
            <p class="form-control-static"><%= @cargo_no_docente.secuencia %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Fecha de alta</label>
            <p class="form-control-static"><%= Util.fecha_a_es(@cargo_no_docente.fecha_alta) %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Fecha de baja</label>
            <p class="form-control-static"><%= Util.fecha_a_es(@cargo_no_docente.fecha_baja) %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Situación de revista</label>
            <p class="form-control-static"><%= @cargo_no_docente.situacion_revista %></p>
          </div>
        </div>
      </div>
    
       
    
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Turno</label>
            <p class="form-control-static"><%= @cargo_no_docente.turno %></p>
          </div>
        </div>
       
      
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Movilidad</label>
            <p class="form-control-static"><%= @cargo_no_docente.con_movilidad %></p>
          </div>
        </div>
 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Observaciones</label>
            <p class="form-control-static"><%= @cargo_no_docente.observaciones %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center">
    <%= link_to cargos_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Atrás
    <% end %>
    
  </div>

</form>