<h1> Cargos</h1>



<h3> Directores </h1>

<div align="right">
  <%= link_to establecimiento_pof_excel_path, :target => "_blank", :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Exportar
  <% end %>
</div>
<br/>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_director.each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Funcion.where(categoria: d.cargo).first.to_s %></td>
          <td><%= d.turno %></td>
          <td><%= d.grupo_id %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>



<h3> Vicedirectores </h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_vicedirector.each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Funcion.where(categoria: d.cargo).first.to_s %></td>
          <td><%= d.turno %></td>
          <td><%= d.grupo_id %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>

<h3> Secretarios </h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_secretario.each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Funcion.where(categoria: d.cargo).first.to_s %></td>
          <td><%= d.turno %></td>
          <td><%= d.grupo_id %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>

<h3> Bibliotecarios </h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_bibliotecario.each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Funcion.where(categoria: d.cargo).first.to_s %></td>
          <td><%= d.turno %></td>
          <td><%= d.grupo_id %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>

<h3> Cargos docente </h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Curso/División</t>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_activos.order(:turno, :curso, :division).each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Funcion.where(categoria: d.cargo).first.to_s %></td>
          <td><%= d.turno %></td>
          <td><%= d.curso_division %></td>
          <td><%= d.grupo_id %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>


<h3> Horas </h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Plan/Materia</th>
      <th>Turno</th>
      <th>Curso/División</th>
      <th>Grupo</th>
      <th>Sit. Revista</th>
      <th>Horas</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.horas_activas.order(:turno, :anio, :division, :plan_id, :materium_id).each do |h| %>
        <tr>
          <td><%= h.persona.to_s %></td>
          <td><%= h.secuencia %></td>
          <td><%= h.plan_materia %></td>
          <td><%= h.turno %></td>
          <td><%= h.curso_division %></td>
          <td><%= h.grupo_id %></td>
          <td><%= h.situacion_revista %></td>
          <td><%= h.horas%></td>
          <td><%= h.estado %></td>
          <td><%= Util.fecha_a_es(h.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>



<h1> Cargos Auxiliares</h1>

<div>
  <table class="table table-striped table-bordered table-hover" >
    <thead>
      <th>Agente</th>
      <th>Secuencia</th>
      <th>Cargo</th>
      <th>Turno</th>
      <th>Sit. Revista</th>
      <th>Estado</th>
      <th>Fecha de alta</th>
    </thead>
    <tbody>
      <% establecimiento_actual.cargos_auxiliares.each do |d| %>
        <tr>
          <td><%= d.persona.to_s %></td>
          <td><%= d.secuencia %></td>
          <td><%= Cargosnd.find(d.cargo) %></td>
          <td><%= d.turno %></td>
          <td><%= d.situacion_revista %></td>
          <td><%= d.estado %></td>
          <td><%= Util.fecha_a_es(d.fecha_alta) %></td>
        </tr>
      <% end %>  
    </tbody>
    
  </table>
</div>
