<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="directores">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_director.each do |d| %>
        <Row>
            <Cell><Data ss:Type="String"><%= d.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: d.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= d.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= d.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= d.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_id: d.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(d.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="vicedirectores">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_vicedirector.each do |v| %>
        <Row>
            <Cell><Data ss:Type="String"><%= v.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= v.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: v.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= v.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= v.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= v.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= v.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_id: v.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(v.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="secretarios">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_secretario.each do |s| %>
        <Row>
            <Cell><Data ss:Type="String"><%= s.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= s.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: s.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= s.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= s.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= s.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= s.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_id: s.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="bibliotecarios">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_bibliotecario.each do |b| %>
        <Row>
            <Cell><Data ss:Type="String"><%= b.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= b.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: b.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= b.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= b.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= b.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= b.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_id: b.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(b.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="Preceptores">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_preceptor.each do |pre| %>
        <Row>
            <Cell><Data ss:Type="String"><%= pre.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pre.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: pre.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pre.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pre.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pre.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pre.estado %></Data></Cell>
            <% if pre.estado == "ART" or  pre.estado == "LIC"%>
              <% licencia = Licencium.where(cargo_id: pre.id).last %>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
              <% else%>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <% end %>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(pre.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="MOT">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_mot.each do |mt| %>
        <Row>
            <Cell><Data ss:Type="String"><%= mt.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mt.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: mt.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mt.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mt.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mt.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= mt.estado %></Data></Cell>
            <% if mt.estado == "ART" or  mt.estado == "LIC"%>
              <% licencia = Licencium.where(cargo_id: mt.id).last %>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
              <% else%>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <% end %>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(mt.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
     </Worksheet>
        <Worksheet ss:Name="PEP">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_pep.each do |pep| %>
        <Row>
            <Cell><Data ss:Type="String"><%= pep.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pep.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: pep.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pep.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pep.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pep.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pep.estado %></Data></Cell>
            <% if pep.estado == "ART" or  pep.estado == "LIC"%>
              <% licencia = Licencium.where(cargo_id: pep.id).last %>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
              <% else%>
              <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <% end %>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(pep.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
     </Worksheet>
    <Worksheet ss:Name="cargos_docentes">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Curso/División</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_activos.order(:turno, :curso, :division).each do |cd| %>
        <Row>
            <Cell><Data ss:Type="String"><%= cd.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Funcion.where(categoria: cd.cargo).first.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.curso_division %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= cd.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_id: cd.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(cd.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="horas">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Plan/Materia</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Curso/División</Data></Cell>
          <Cell><Data ss:Type="String">Grupo</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Horas</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.horas_activas.order(:turno, :anio, :division, :plan_id, :materium_id).each do |h| %>
        <Row>
            <Cell><Data ss:Type="String"><%= h.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.plan_materia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.curso_division %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.grupo_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.horas %></Data></Cell>
            <Cell><Data ss:Type="String"><%= h.estado %></Data></Cell>
            <% licencia = Licencium.where(altas_bajas_hora_id: h.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(h.fecha_alta) %></Data></Cell>
        </Row>        
        <% end %>
      </Table>
    </Worksheet>
    <Worksheet ss:Name="cargos_auxiliares">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Agente</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Artículo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de alta</Data></Cell>
        </Row>
        <% establecimiento_actual.cargos_auxiliares.each do |ca| %>
        <Row>
            <Cell><Data ss:Type="String"><%= ca.persona.to_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= ca.secuencia %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Cargosnd.find(ca.cargo) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= ca.turno %></Data></Cell>
            <Cell><Data ss:Type="String"><%= ca.situacion_revista %></Data></Cell>
            <Cell><Data ss:Type="String"><%= ca.estado %></Data></Cell>
            <% licencia = Licencium.where(cargo_no_docente_id: ca.id).last %>
            <Cell><Data ss:Type="String"><%= licencia == nil ? '' : licencia.articulo.codigo %></Data></Cell>
            <Cell><Data ss:Type="String"><%= Util.fecha_a_es(ca.fecha_alta) %></Data></Cell>
        </Row>
        <% end %>    
      </Table>
    </Worksheet>
 </Workbook>

