
<div>
  <h3> Listado de agentes con cambio de oficina de cobro</h3>

  <table class="table table-bordered table-striped">
    <head>
      <th> Agente </th>
      <th> Destino </th>
      <th> Secuencia </th>
      <th> Tipo de Cargo </th>
      <th> Fecha Cambio de oficina </th>
      <th> Usuario Originante </th>
      <th> Disposicion </th>
    </head>
    <body>
      <% @traslados.each do |traslado|%>
        <tr>
          <% @cargo = Cargo.where(id: traslado.cargo_id).first %>
          <% @horas = AltasBajasHora.where(:id => traslado.alta_baja_hora_id).first %>
          <% @cargond = CargoNoDocente.where(:id => traslado.cargo_no_docente_id).first %>

          <%if traslado.cargo_id != nil%>
            <td> <%= @cargo.persona %> </td>
          <% elsif traslado.cargo_no_docente_id != nil %>
            <td> <%= @cargond.persona %> </td>
          <%else%>
            <td> <%= @horas.persona %> </td>
          <%end%>

          <%if traslado.cargo_id != nil%>
            <td> <%= @cargo.establecimiento %> </td>
          <%elsif traslado.cargo_no_docente_id != nil%>
            <td> <%= @cargond.establecimiento %> </td>
          <%else%>
            <td> <%= @horas.establecimiento %> </td>
          <%end%>

          <%if traslado.cargo_id != nil%>
            <td> <%= @cargo.secuencia %> </td>
          <%elsif traslado.cargo_no_docente_id != nil%>
            <td> <%= @cargond.secuencia %> </td>
          <%else%>
            <td> <%= @horas.secuencia %> </td>
          <%end%>

          <%if traslado.cargo_id != nil%>
            <td> Cargo </td>
          <%elsif traslado.cargo_no_docente_id != nil%>
            <td> Cargo no Docente </td>
          <%else%>
            <td> Horas </td>
          <%end%>
          <td><%= traslado.fecha_cambio_oficina%></td>
          <td><%= User.where(id: traslado.user_id).first.email%>
          <td><%= traslado.disposicion %></td>

        </tr>
      <% end %>
    </body>
  </table>

</div>