<div class="jumbotron">
<center><h3> Agentes con cambio de oficina de cobro </h3></center>
<center><h3>Filtros</h3></center>
<table class="tabla-filtros">
  <thead>
    <tr>
      <th>Mes</th>
      <th>Año</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= select_tag 'Mes', options_for_select((1..12).to_a), :id => "select_mes", :prompt => "Seleccione mes"%></td>
      <td><%= select_tag 'anio', options_for_select((2017..Date.today.year.to_i).to_a), :id => "select_anio", :prompt => "Seleccione año"%></td>
    </tr>
  </tbody>
</table>
<center><button class="btn btn-primary btn-filtro" id="btn-filtrar">Filtrar</button></center>
</div>

<button id="btn-imprimir" class="btn btn-danger">
    <span class="glyphicon glyphicon-print"></span>
    Imprimir Agentes con Cambio de Oficina
</button>

<div style="padding: 5px;">
  <table class="tabla-reportes">
    <head>
      <th> Agente </th>
      <th> Destino </th>
      <th> Secuencia </th>
      <th> Tipo de Cargo </th>
      <th> Fecha Cambio de oficina </th>
      <th> Usuario Originante </th>
      <th> Disposicion </th>
    </head>
    <body>
      <% @traslados.each do |traslado|%>
        <tr>        
          <td><%= traslado.get_persona %></td>
          <td><%= traslado.get_establecimiento %></td>
          <td><%= traslado.get_secuencia %></td>
          <td><%= traslado.get_tipo_cargo %></td>
          <td><%= traslado.fecha_cambio_oficina %></td>
          <td><%= traslado.user.email %></td>
          <td><%= traslado.disposicion %></td>
        </tr>
      <% end %>
    </body>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function($) {
  
    function getParams() {
      var params = '?mes=' + $('#select_mes').val()+'&anio=' + $('#select_anio').val();
      return  params
    };

    $('#btn-filtrar').on('click', function() {
      window.location.href = "<%= traslados_reporte_path %>" + getParams();
    });

    $('#btn-imprimir').on('click', function(){
       window.location.href = '/soft/snpe/traslados/reporte.pdf' + getParams();
    })

  });
</script>