<div class="page-header">
  <h1>traslado</h1>
</div>

<dl class="dl-horizontal">
  <dt>Alta baja hora:</dt>
  <dd><%= @traslado.alta_baja_hora_id %></dd>

  <dt>Cargo:</dt>
  <dd><%= @traslado.cargo_id %></dd>

  <dt>Cargo no docente:</dt>
  <dd><%= @traslado.cargo_no_docente_id %></dd>

  <dt>Fecha cambio oficina:</dt>
  <dd><%= @traslado.fecha_cambio_oficina %></dd>

  <dt>User:</dt>
  <dd><%= @traslado.user_id %></dd>

  <br/><br/>
  <%= link_to traslados_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_traslado_path(@traslado), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to traslado_path(@traslado), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
