<%= form_for(@altas_bajas_hora, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @altas_bajas_hora.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @altas_bajas_hora.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :establecimiento, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :establecimiento, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mes_periodo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :mes_periodo, :class => "form-control" %>
    </div>
    <%= f.label :anio_periodo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :anio_periodo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :persona, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :persona, :class => "form-control" %>
    </div>
  </div>
  <legend>Datos Personales</legend>
  <div class="form-group">
    <label class="col-sm-2 control-label">Tipo de documento</label>    
    <div class="col-sm-4">
      <%= select_tag 'tipo_documento', options_from_collection_for_select(TipoDocumento.all, "id", "nombre"), {:id => "select_tipo_documento", prompt: "Por favor seleccione"} %>
    </div>
    <label class="col-sm-2 control-label">Documento</label>
    <div class="col-sm-4">
      <%= text_field_tag 'dni', "", {:class => "text-field form-control solo_numerico", :id => "input_dni"} %>
    </div>
  </div>
  <fieldset id="datos_persona">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nombres</label>
      <div class="col-sm-4">
        <%= text_field_tag 'nombres', "", {:class => "text-field form-control", :id => "input_nombres"} %>
      </div>
      <label class="col-sm-2 control-label">Apellidos</label>
      <div class="col-sm-4">
        <%= text_field_tag 'apellidos', "", {:class => "text-field form-control", :id => "input_apellidos"} %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Cuil</label>
      <div class="col-sm-4">
        <%= text_field_tag 'cuil', "", {:class => "text-field form-control", :id => "input_cuil"} %>
      </div>
      <label class="col-sm-2 control-label">Fecha de nacimiento</label>
      <div class="col-sm-4">
        <%= text_field_tag 'fecha_nacimiento', "", {:class => "text-field form-control", :id => "datepicker3"} %>
      </div>
    </div>
  </fieldset>
  <legend>Ver que poner</legend>
  <div class="form-group">
    <%= f.label :fecha_alta, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :fecha_alta, :id => "datepicker", :class => "form-control" %>
    </div>
    <%= f.label :fecha_baja, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :fecha_baja, :id => "datepicker2", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :secuencia, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :secuencia, :class => "form-control" %>
    </div>
    <%= f.label :situacion_revista, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :situacion_revista, :class => "form-control" %>
    </div>
    <%= f.label :horas, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :horas, :class => "form-control" %>
    </div>    
  </div>  
  <div class="form-group">
    <%= f.label :anio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :anio, :class => "form-control" %>
    </div>
      <%= f.label :division, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :division, :class => "form-control" %>
    </div>
    <%= f.label :ciclo_carrera, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :ciclo_carrera, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :turno, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :turno, :class => "form-control" %>
    </div>
    <%= f.label :codificacion, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :codificacion, :class => "form-control" %>
    </div>
    <%= f.label :oblig, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :oblig, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observaciones, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :observaciones, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to altas_bajas_horas_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>

        
<% @listado_de_datepickers = ['datepicker', 'datepicker2', 'datepicker3'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });

  </script>

<% end %>


<script type="text/javascript">

  $(document).ready(function($) {

     $("#datos_persona").hide();

     $(".solo_numerico").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^\d].+/, ""));
             if ( event.which == 8) {
           
       }else{
        if (event.which < 48 || event.which > 57) {
                  event.preventDefault();
             }
      }
            
    });

    $("#input_dni").blur(function(){
          $("#datos_persona").show();
        $.ajax({
          url: '/soft/snpe/util/buscar_persona/'+dni,
          type: 'POST',
        })
        .done(function(data) {
          if (data != null) {
            $("#input_nombres").val(data.nombres);
            $("#input_apellidos").val(data.apellidos);
            $("#input_cuil").val(data.cuil);
            $("#datepicker3").val(data.fecha_nacimiento);
          }
          else{
            alert("La persona no existe. Por favor cargue los datos");
          }
        })
    });

  });

 

</script>
