<%= javascript_include_tag "util.js" %>
<%= javascript_include_tag "editar_alta.js" %>

<%= form_for(@altas_bajas_hora, url: altas_bajas_horas_guardar_edicion_path, :html => { :class => "form-horizontal" }) do |f| %>
<style type="text/css">
.form-group{
  margin-left: 0px;
  margin-right: 0px;
}
</style>
  <% if @altas_bajas_hora.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @altas_bajas_hora.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @persona.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <% @persona = Persona.find(@altas_bajas_hora.persona_id) %>

  <legend>Editando alta</legend>

  <fieldset>
    <div class="form-snpe" >
        <div class="row">
          <%= select_tag 'tipo_documento', options_from_collection_for_select(TipoDocumento.all, "id", "nombre", @persona.tipo_documento_id), {:id => "select_tipo_documento", :class=>"form-control form-select form-doc form-alta", :value => @persona.tipo_documento_id} %>
          <%= text_field_tag 'dni', "", {:class => "text-field form-doc form-alta form-control solo_numerico", :id => "input_dni", :placeholder =>"N° Documento", :maxlength=>"8", :value => @persona.nro_documento} %>
        
          <%= text_field_tag 'fecha_nacimiento',"",{:class => "form-fecha form-alta text-field form-control", :id => "datepicker3", :placeholder => "F. Nacimiento", :value => @persona.fecha_nacimiento} %>          
          <%= text_field_tag 'cuil', "", {:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Cuil - ej: 27319233815", :class => "form-alta text-field form-control solo_numerico", :id => "input_cuil", :placeholder => "Cuil", :maxlength=>"11", :pattern=>"[0-9]{11}", :oninvalid=>"setCustomValidity('Por favor respete el formato')", :value => @persona.cuil} %>
          <%= text_field_tag 'apellidos', "", {:class => "form-alta text-field form-control", :id => "input_apellidos", :placeholder => "Apellido/s", :value => @persona.apellidos} %>
          <%= f.text_field :fecha_alta, :id => "datepicker", :placeholder => "Fecha de Alta", :class => "form-fecha form-alta form-control"%>
          <%= f.text_field :fecha_baja, :id => "datepicker4", :placeholder => "F. Baja", :class => "form-fecha form-alta form-control"%>
          <%= f.select(:situacion_revista, SituacionRevistum.all.collect{|m| [m.to_s, m.codigo]}, {:prompt => "S.Rev"}, :id => "sit-revista",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Sit Rev", :class=>"form-control form-alta form-select")%>
          <%= f.text_field :ciclo_carrera, :placeholder => "Cic", :data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Ciclo/Carrera - ej: 58", :class => "form-alta form-control", :id => "ciclo-carrera", :maxlength=>"2"%>
          
          <%= f.text_field :division, :placeholder => "Div",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Division - ej: 1", :class => "form-alta form-control", :id => "division", :maxlength=>"2"%>
          <%= f.select(:turno, AltasBajasHora::TURNO, {:prompt => "Turno"}, :id => "turno",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Turno T/M", :class=>"form-control form-alta form-select")%>

          </div>
          <div class="row">

          <%= f.select(:plan_id, @planes_permitidos.all.collect{|m| [m.to_s, m.id]}, {:prompt => "Plan"}, :id => "plan",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Plan", :class=>"form-control form-alta form-select")%>        
        
          <%= f.select(:anio, AltasBajasHora::ANIO, {:prompt => "Curso"}, :id => "curso",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Curso", :class=>"form-control form-alta form-select")%>

          <%= f.select(:materia_id, !@materias_permitidas.nil? ? @materias_permitidas.all.collect{|m| [m.to_s, m.id]} : "", {:prompt => "Materia"}, :id => "materium",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Materia", :class=>"form-control form-alta form-select")%>        

          <%= f.text_field :horas, :placeholder => "Hs", :class => "form-alta form-control", :id => "horas", :maxlength=>"2"%>
          
          <%= f.text_field :oblig, :placeholder => "oblig",:id=>"oblig", :class => "form-alta form-control"%>
          <%= f.text_area :observaciones, :class => "form-control", :placeholder => "Observaciones",:id=>"observaciones-edit" %>
          <%= button_to "Guardar", {:controller => "altas_bajas_horas", :action => "guardar_edicion"}, :class=>"btn btn-primary", :id=>"btn-guardar-edit" %>
          <%= link_to altas_bajas_horas_path, :class => 'btn btn-danger', :id=>"btn-cancelar-edit" do %>
            Cancelar
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>

        
<% @listado_de_datepickers = ['datepicker', 'datepicker2', 'datepicker3', 'datepicker4'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });

  </script>

<% end %>

<script type="text/javascript">
  $("#plan").change(function(){
       var plan_id = parseInt($("#plan").val(),10);
       var anio = parseInt($("#curso").val(),10);
        $.ajax({
          url: '/soft/snpe/util/buscar_materias_plan/'+plan_id+'/'+anio,
          type: 'GET',
        })
        .done(function(data) {
          $("#materium").empty();
          if (data != null) {
            $("#materium").append('<option value="">Materia</option>');
            for (var i = 0; i < data.length; i++) {
              $("#materium").append('<option value="'+data[i].id+'">'+data[i].codigo+' - '+data[i].descripcion+'</option>');
            };            
          }
        })
    });

  $("#curso").change(function(){
       var plan_id = parseInt($("#plan").val(),10);
       var anio = parseInt($("#curso").val(),10);
        $.ajax({
          url: '/soft/snpe/util/buscar_materias_plan/'+plan_id+'/'+anio,
          type: 'GET',
        })
        .done(function(data) {
          $("#materium").empty();
          if (data != null) {
            $("#materium").append('<option value="">Materia</option>');
            for (var i = 0; i < data.length; i++) {
              $("#materium").append('<option value="'+data[i].id+'">'+data[i].codigo+' - '+data[i].descripcion+'</option>');
            };            
          }
        })
    });

  $("#materium").change(function(){
    var materia_id = parseInt($("#materium").val(),10);
    var plan_id = parseInt($("#plan").val(),10);
    var anio = parseInt($("#curso").val(),10);
    $.ajax({
          url: '/soft/snpe/util/buscar_carga_horaria_materia/'+materia_id+'/'+plan_id+'/'+anio,
          type: 'GET',
        })
        .done(function(data) {
          if (data != null) {
            $("#horas").val(data);
          }
        })

  });
</script>