<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>
<%= javascript_include_tag "util.js" %>

<% @altas_bajas_hora = AltasBajasHora.new %>
<div class="container">

  <legend>Listado de Bajas Permitidas y Realizadas</legend>
  
  <% if (current_user.role? :escuela or current_user.role? :sadmin) %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bajas Permitidas
        </h3>
      </div>
      <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-bajas" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_bajas_path(format: :json) %>" >
          <thead>
            <tr>
              <th>Agente</th>
              <th>Secuencia</th>
              <th>Turno</th>
              <th>Curso</th>
              <th>Div</th>
              <th>Plan / Materia</th>
              <th>Fecha Alta</th>
              <th>Horas</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <hr/>
  <% end %>

   <div class="modal fade" id="modal_baja_horas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><p class="text-danger">Realizar baja de las horas.</p>
        <p align="center">
                  <%=image_tag("animat-pencil.gif", :class => "img-responsive", style: "width:10%;")%>
                </p>
        </h4> 
      </div>
      <div class="modal-body"> 
          <div id="baja">
               <%= label_tag "Motivo de la Baja:", nil,  :class => "control-label" %>
               <%= select_tag 'motivo_baja', options_from_collection_for_select(MotivoBaja.all, "nro_motivo", "motivo"), {:data =>{:toggle=>"tooltip", :placement=>"right"},:title=>"motivo_baja", :id => "motivo_baja",:prompt => "Seleccione Motivo de Baja" } %>        
          </div>
          </br>
         <div id="fecha">
               <%= label_tag "Fecha de la Baja:", nil,  :class => "control-label" %>
               <%= text_field_tag 'input_fecha_baja', id: 'input_fecha_baja',:value => Date.today %>
          </div>
          </br>
              <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" id="btn_editar_obs" class="btn btn-default" data-dismiss="modal">Guardar</button>
          </div>
        </div>
    </div>
  </div>
</div>
  
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Bajas Realizadas
      </h3>
    </div>
    <div class="panel-body">
      <div class="">
        <b>Seleccione un periodo de fechas: </b> <input type="text" id="daterange" /> </br></br>
      </div>
      <div class="table-responsive">
        <table id="tabla-bajas_efectivas" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_bajas_efectivas_path(format: :json) %>" >
          <thead>
            <tr>
              <th style="width: 250px;">Agente</th>
              <th style="width: 100px;">Secuencia</th>
              <th style="width: 100px;">Turno</th>
              <th style="width: 100px;">Curso</th>
              <th style="width: 100px;">Div</th>
              <th style="width: 100px;">Fecha Alta</th>
              <th style="width: 100px;">Fecha Baja</th>
              <th style="width: 100px;">Horas</th>
              <th style="width: 100px;">Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% if (current_user.role? :escuela) then %>

<!-- <a class="btn btn-info" href="javascript:abrir_reporte('<%=altas_bajas_horas_index_bajas_efectivas_path()%>.pdf',0,1,1,1,1,1,1,1500,900,100,100,1);"> <span class="glyphicon glyphicon-print"></span> Imprimir</a> -->

<div align="left">
 <button id="btn-filtrar1" class="btn btn-info">
 <span class="glyphicon glyphicon-print"></span>
     Imprimir Bajas notificadas
  </button>
</div>

<% end %>

<!-- Modal -->
<div class="modal fade" id="modal_bajas_efectivas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Historial de Cambios</h4>
      </div>
      <div class="modal-body">
     
      <table class='table table-striped table-bordered'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody id='historial'>
        </tbody>
      </table>


        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_mostrar_historial">Historial de estados</button></div>
        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_ocultar_historial">Ocultar historial</button></div>
      </div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_modal_altas">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<% @listado_de_datepickers = ['input_fecha_baja'] %>

<% @listado_de_datepickers.each do |l| %>


  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({
         dateFormat: 'dd-mm-yy', 
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sabado'], 
                dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'], 
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], 
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], 
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'], 
                changeYear: true,
                changeMonth: true,
                yearRange: "<%=Date.today.year-2%>:<=Date.today.year%>",
                default: "<%=Date.today%>",

          });

  </script>

<% end %>

<script type="text/javascript">
$(document).ready(function($) {
     $("#motivo_baja" ).val("");
     $("#input_fecha_baja" ).val("");

  //Define el idioma de combodate
  moment.locale('es');

  //define el modo de visualizacion del x-editable
  $.fn.editable.defaults.mode = 'popup';

  //Carga DT
  var tabla_bajas_efectivas = $('#tabla-bajas_efectivas')
    .on('draw.dt', function () {
      $( ".btn-ajax" ).on( "click", function() {
        var data_url = $(this).attr('data-url');
        $.ajax({
          url: data_url,
          type: 'GET',
        })
        .done(function(data) { //if (data[status] == 'ok')
          tabla_bajas_permitidas.api().ajax.reload();
          tabla_bajas_efectivas.api().ajax.reload();
        });
      });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      "scrollX": true,
      ajax : $('#tabla-bajas_efectivas').data('source'),
      pagingType: "simple",
      "pageLength": 10,
      columnDefs: [
            {
                "targets": [ 7 ],
                "searchable": false,
                "orderable": false
            }
        ]
    });
    $('#modal_baja_horas').on('shown.bs.modal', function (event) {      
      id_horas = $(event.relatedTarget).attr('id_horas');
    });

    $('#btn_editar_obs').on('click', function () {
    motivo_baja = $("#motivo_baja").val();
    input_fecha_baja = $("#input_fecha_baja").val();
    if (motivo_baja =="" || input_fecha_baja ==""){
      alert('Debe completar la fecha y/o el motivo de la baja')
    }else{
    $.ajax({
      url: '/soft/snpe/altas_bajas_horas/dar_baja/?id_horas='+id_horas+'&motivo_baja='+motivo_baja+'&input_fecha_baja='+input_fecha_baja,
      type: 'POST',
      })
    .done(function(data) {
        tabla_bajas_permitidas.api().ajax.reload();
        tabla_bajas_efectivas.api().ajax.reload();
        $("#motivo_baja" ).val("");
        $("#input_fecha_baja" ).val("");
    })
    }
  });

   function getParams1() {
        var params = '?rango=' + $('#daterange').val();
        return  params
       }
      
      $('#btn-filtrar1').on('click', function(){
       window.location.href = '/soft/snpe/altas_bajas_horas/bajas_efectivas.pdf' + getParams1();
      })
      
  //Carga DT
  var tabla_bajas_permitidas = $('#tabla-bajas')
    .on('draw.dt', function () {
      $('.popup-fecha')
      .on('save', function(e, params) {
        tabla_bajas_permitidas.api().ajax.reload();
        tabla_bajas_efectivas.api().ajax.reload();
      })
      .editable({
        savenochange: true,
        success: function(response, newValue) {
          if(response.status == 'error') return response.msg; //msg will be shown in editable form
        }
      });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing: true,
      serverSide: true,
      "scrollX": true,
      ajax : $('#tabla-bajas').data('source'),
      pagingType: "simple",
      "pageLength": 10,
      columnDefs: [
            {
                "targets": [ 7 ],
                "searchable": false,
                "orderable": false
            }
        ]
    });

  //JS para el periodo
  var date = new Date();
  $('#daterange').daterangepicker({
    format: 'DD/MM/YYYY',
    startDate: new Date(date.getFullYear(), date.getMonth(), 1),
    endDate: Date.today,
    minDate: '01/01/2010',
    maxDate: '31/12/2030',
    locale: {
      applyLabel: 'Ir',
      cancelLabel: 'Cancelar',
      fromLabel: 'Desde',
      toLabel: 'Hasta',
      firstDay: 1
    }
  });

  // Evento del daterangepicker para filtrar por rangos
  $('#daterange').on('apply.daterangepicker', function(ev, picker) {
    // Cambia la url agregando el campo rango como atributor
    tabla_bajas_efectivas.api().ajax.url('/soft/snpe/altas_bajas_horas/bajas_efectivas.json?rango='+$('#daterange').val());
    // Recarga por ajax la tabla
    tabla_bajas_efectivas.api().ajax.reload();
    
  });
  
});
</script>