<%= javascript_include_tag "altas_bajas_horas" %>
<%= javascript_include_tag "util.js" %>
<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>

<% if (current_user.role? :escuela) || (current_user.role? :sadmin) then %>
  <legend class="legend-small">Alta de Horas</legend>  
  <div align="right">
    <%= link_to "http://www.chubut.edu.ar/agentes", :target => "_blank", :class => 'btn btn-success' do %>
        <span class="glyphicon glyphicon-info-sign"></span>
        Verificar incompatibilidades
    <% end %>
  </div>
  <br/>
  <div class="form-carga-efecto form-carga-efecto-alta">
    <%= render 'form_altas', altas_bajas_hora: @altas_bajas_hora %>
  </div>
<% end %>
<div class="container">

  </br>

  <legend class="legend-small">Listado de Altas</legend>  

  <div class="">
    <b>Seleccione un periodo de fechas: </b> <input type="text" id="daterange" /> </br></br>
  </div>

  <% if (current_user.role? :escuela) || (current_user.role? :sadmin) then %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Altas Realizadas
        </h3>
      </div>
      <div class="panel-body">
      <div class="table-responsive">
          <table id="tabla-altas_bajas_hora" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_path(format: :json, rango: params['rango']) %>">
            <thead>
              <tr>
                <th style="width: 200px;">DNI/CUIT</th>
                <th style="width: 250px;">Apellido y nombre</th>
                <th style="width: 100px;">Fecha Alta</th>
                <th style="width: 100px;">Fecha Baja</th>
                <th style="width: 70px;">Sit. Rev</th>
                <th style="width: 200px;">Localidad Estab.</th>
                <th style="width: 20px;">Horas</th>              
                <th style="width: 20px;">Ciclo</th>
                <th style="width: 20px;">Curso</th>
                <th style="width: 20px;">Div</th>
                <th style="width: 20px;">Turno</th>
                <th style="width: 50px;">Codif.</th>
                <th style="width: 100px;">Notificaciones</th>
                <th style="width: 180px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>

<div class="panel panel-success ">
  <div class="panel-heading">
    <h3 class="panel-title">
      Altas Notificadas
    </h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-altas_bajas_hora_notificadas" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_notificadas_path(format: :json, rango: params['rango']) %>" >
        <thead>
            <tr>
              <th>DNI</th>
              <th style="width: 250px;">Apellido y nombre</th>
              <th>Sit. Rev</th>
              <th>Horas</th>              
              <th>Ciclo</th>
              <th>Curso</th>
              <th>Div</th>
              <th>Turno</th>
              <th>Codif.</th>
              <th>Fecha Alta</th>
              <th>Notificaciones</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

<a class="btn btn-info" href="javascript:abrir_reporte('<%=altas_bajas_horas_index_notificadas_path()%>.pdf',0,1,1,1,1,1,1,1500,900,100,100,1);"> <span class="glyphicon glyphicon-print"></span> Imprimir</a>

<!-- Modal -->
<div class="modal fade" id="modal_altas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Historial de Cambios</h4>
      </div>
      <div class="modal-body">
     
      <table class='table table-striped table-bordered'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody id='historial'>
        </tbody>
      </table>


        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_mostrar_historial">Historial de estados</button></div>
        <div class="text-center"><button class="btn btn-primary btn-sm" id="boton_ocultar_historial">Ocultar historial</button></div>
      </div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar_modal_altas">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function($) {

  $("#div_cargo_materia").hide();
  $("#cargo_materia").hide();
  //Define el idioma de combodate
  moment.locale('es');
  $.fn.editable.defaults.mode = 'popup';

  var tabla_materia = $('#tabla-altas_bajas_hora_materia').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-altas_bajas_hora_materia').data('source'),
    pagingType: "simple",
    retrieve: true,
    paginate: false,
    filter: false,
  });

  $("#materium").change(function(){
    var materia_id = parseInt($("#materium").val(),10);
    var plan_id = parseInt($("#plan").val(),10);
    var anio = parseInt($("#curso").val(),10);

    var division = parseInt($("#division").val(),10);
    
    $.ajax({
          url: '/soft/snpe/util/buscar_carga_horaria_materia/'+materia_id+'/'+plan_id+'/'+anio,
          type: 'GET',
        })
        .done(function(data) {
          if (data != null) {
            $("#horas").val(data);
          }
        })
        tabla_materia.api().ajax.url('/soft/snpe/altas_bajas_horas/cargo_por_materia/'+materia_id+'/'+plan_id+'/'+anio+'/'+division);
        tabla_materia.api().ajax.reload();
        $("#div_cargo_materia").show();
        $("#cargo_materia").show();
    });

  var tabla_altas_bajas = $('#tabla-altas_bajas_hora').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    "scrollX": true,
    processing : true,
    serverSide : true,
    ajax : $('#tabla-altas_bajas_hora').data('source'),
    pagingType: "simple",
    columnDefs: [
            {
                "targets": [ 12, 13 ],
                "searchable": false,
                "orderable": false
            }
        ]
  })
  .on('draw.dt', function () {
    /*Cambio para no ejecutar ajx 2 veces*/    
    $( ".btn-ajax-realizadas" ).on( "click", function() {
      var data_url = $(this).attr('data-url');
      $.ajax({
        url: data_url,
        type: 'GET',
      })
      .done(function(data) {
        tabla_altas_bajas.api().ajax.reload();
        tabla_altas_bajas_notificadas.api().ajax.reload();
      });
    });
  });

  var tabla_altas_bajas_notificadas = $('#tabla-altas_bajas_hora_notificadas')
  .on('draw.dt', function () {
    $( ".btn-ajax" ).on( "click", function() {
      var data_url = $(this).attr('data-url');
      $.ajax({
        url: data_url,
        type: 'GET',
      })
      .done(function(data) { //if (data[status] == 'ok')
        tabla_altas_bajas.api().ajax.reload();
        tabla_altas_bajas_notificadas.api().ajax.reload();
      })
    });
    $('.cancelar_notificacion')
    .on('save', function(e, params) {
      tabla_altas_bajas.api().ajax.reload();
      tabla_altas_bajas_notificadas.api().ajax.reload();
    })
    .editable({
      savenochange: true,
      success: function(response, newValue) {
        if(response.status == 'error') return response.msg; //msg will be shown in editable form
      }
    });
  })
  .dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-altas_bajas_hora_notificadas').data('source'),
    pagingType: "simple",
    columnDefs: [
            {
                "targets": [ 10, 11 ],
                "searchable": false,
                "orderable": false
            }
        ]
  });

  var date = new Date();
  $('#daterange').daterangepicker({
    format: 'DD/MM/YYYY',
    startDate: new Date(date.getFullYear(), date.getMonth(), 1),
    endDate: Date.today,
    minDate: '01/01/2000',
    maxDate: '31/12/2030',
    locale: {
      applyLabel: 'Ir',
      cancelLabel: 'Cancelar',
      fromLabel: 'Desde',
      toLabel: 'Hasta',
      firstDay: 1
    }
  });

  // Evento del daterangepicker para filtrar por rangos
  $('#daterange').on('apply.daterangepicker', function(ev, picker) {
    // Cambia la url agregando el campo rango como atributo
    tabla_altas_bajas.api().ajax.url('/soft/snpe/altas_bajas_horas.json?rango='+$('#daterange').val());
    tabla_altas_bajas_notificadas.api().ajax.url('/soft/snpe/altas_bajas_horas/notificadas.json?rango='+$('#daterange').val());
    // Recarga por ajax la tabla
    tabla_altas_bajas.api().ajax.reload();
    tabla_altas_bajas_notificadas.api().ajax.reload();
  });
});
</script>