<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>

<% @altas_bajas_hora = AltasBajasHora.new %>
<div class="container">

  <legend>Listado de Bajas Permitidas y Realizadas</legend>
  
  <% if (current_user.role? :escuela) %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bajas Permitidas
        </h3>
      </div>
      <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-bajas" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_bajas_path(format: :json) %>" >
          <thead>
            <tr>
              <th>DNI</th>
              <th>CUIL</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Secuencia</th>
              <th>CJ</th>
              <th>Cue</th>
              <th>Establecimiento</th>
              <th>Curso</th>
              <th>Div</th>
              <th>Fecha Alta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <hr/>
  <% end %>
  
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Bajas Realizadas
      </h3>
    </div>
    <div class="panel-body">
      <div class="">
        <b>Seleccione un periodo de fechas: </b> <input type="text" id="daterange" /> </br></br>
      </div>
      <div class="table-responsive">
        <table id="tabla-bajas_efectivas" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_bajas_efectivas_path(format: :json) %>" >
          <thead>
            <tr>
              <th>CJ</th>
              <th>Cue</th>
              <th>DNI</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>CUIL</th>
              <th>Fecha Alta</th>
              <th>Fecha Baja</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function($) {

  //Define el idioma de combodate
  moment.locale('es');

  //define el modo de visualizacion del x-editable
  $.fn.editable.defaults.mode = 'popup';

  //Carga DT
  var tabla_bajas_efectivas = $('#tabla-bajas_efectivas').dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-bajas_efectivas').data('source'),
      pagingType: "simple",
      "pageLength": 5,
    });

  //Carga DT
  var tabla_bajas_permitidas = $('#tabla-bajas')
    .on('draw.dt', function () {
      $('.popup-fecha')
        .on('save', function(e, params) {
          tabla_bajas_permitidas.api().ajax.reload();
          tabla_bajas_efectivas.api().ajax.reload();
        })
    .editable();
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing: true,
      serverSide: true,
      ajax : $('#tabla-bajas').data('source'),
      pagingType: "simple",
      "pageLength": 5,
    });

  //JS para el periodo
  var date = new Date();
  $('#daterange').daterangepicker({
    format: 'DD/MM/YYYY',
    startDate: new Date(date.getFullYear(), date.getMonth(), 1),
    endDate: Date.today,
    minDate: '01/01/2015',
    maxDate: '31/12/2030',
    locale: {
      applyLabel: 'Ir',
      cancelLabel: 'Cancelar',
      fromLabel: 'Desde',
      toLabel: 'Hasta',
      firstDay: 1
    }
  });

  // Evento del daterangepicker para filtrar por rangos
  $('#daterange').on('apply.daterangepicker', function(ev, picker) {
    // Cambia la url agregando el campo rango como atributo
    tabla_bajas_efectivas.api().ajax.url('/soft/snpe/altas_bajas_horas/bajas_efectivas.json?rango='+$('#daterange').val());
    // Recarga por ajax la tabla
    tabla_bajas_efectivas.api().ajax.reload();
    
  });
});
</script>