<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Novedad - <%= @altas_bajas_hora.persona %></h1>
    </div>
</div>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Agente</label>
            <p class="form-control-static"><%= @altas_bajas_hora.persona %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">DNI</label>
            <p class="form-control-static"><%= @altas_bajas_hora.persona.nro_documento %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Cuil</label>
            <p class="form-control-static"><%= @altas_bajas_hora.persona.cuil %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Establecimiento</label>
            <p class="form-control-static"><%= @altas_bajas_hora.establecimiento %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Mes periodo</label>
            <p class="form-control-static"><%= @altas_bajas_hora.mes_periodo %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Año periodo</label>
            <p class="form-control-static"><%= @altas_bajas_hora.anio_periodo %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Secuencia</label>
            <p class="form-control-static"><%= @altas_bajas_hora.secuencia %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Fecha de alta</label>
            <p class="form-control-static"><%= Util.fecha_a_es(@altas_bajas_hora.fecha_alta) %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Fecha de baja</label>
            <p class="form-control-static"><%= Util.fecha_a_es(@altas_bajas_hora.fecha_baja) %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Situación de revista</label>
            <p class="form-control-static"><%= @altas_bajas_hora.situacion_revista %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Horas</label>
            <p class="form-control-static"><%= @altas_bajas_hora.horas %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Ciclo carrera</label>
            <p class="form-control-static"><%= @altas_bajas_hora.ciclo_carrera %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Año</label>
            <p class="form-control-static"><%= @altas_bajas_hora.anio %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">División</label>
            <p class="form-control-static"><%= @altas_bajas_hora.division %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Turno</label>
            <p class="form-control-static"><%= @altas_bajas_hora.turno %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Codificación</label>
            <p class="form-control-static"><%= @altas_bajas_hora.codificacion %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Obligaciones</label>
            <p class="form-control-static"><%= @altas_bajas_hora.oblig %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Movilidad</label>
            <p class="form-control-static"><%= @altas_bajas_hora.con_movilidad %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Empresa</label>
            <p class="form-control-static"><%= @altas_bajas_hora.empresa %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Observaciones</label>
            <p class="form-control-static"><%= @altas_bajas_hora.observaciones %></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="table-responsive">
    <table  class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ART  Aux/ Doc</th>
          <th>Historico</th>
          <th>Anual</th>
          <th>Mensual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5B</td>
          <td><%= @altas_bajas_hora.quinto_b_historico%> de 547</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>31 / 36</td>
          <td>0</td>
          <td><%= @altas_bajas_hora.razones_particulares_anual%> de 6</td>
          <td>0 de 2</td>
        </tr>
        <tr>
          <td>12</td>
          <td>0</td>
          <td>0 de 12</td>
          <td>0 de 1</td>
        </tr>
        <tr>
          <td>22a</td>
          <td>0 de 150</td>
          <td>0 de 30</td>
          <td>0</td>
        </tr>
        <tr>
          <td>22B</td>
          <td>0 de 150</td>
          <td>0 de 20</td>
          <td>0</td>
        </tr>
        <tr>
          <td>22c</td>
          <td>0 de 150</td>
          <td>0 de 10</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="text-center">
    <%= link_to altas_bajas_horas_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Atrás
    <% end %>
    
  </div>

</form>