<div class="page-header">
  <h1>altas_bajas_hora</h1>
</div>

<dl class="dl-horizontal">
  <dt>Establecimiento:</dt>
  <dd><%= @altas_bajas_hora.establecimiento %></dd>

  <dt>Mes periodo:</dt>
  <dd><%= @altas_bajas_hora.mes_periodo %></dd>

  <dt>Anio periodo:</dt>
  <dd><%= @altas_bajas_hora.anio_periodo %></dd>

  <dt>Persona:</dt>
  <dd><%= @altas_bajas_hora.persona %></dd>

  <dt>Secuencia:</dt>
  <dd><%= @altas_bajas_hora.secuencia %></dd>

  <dt>Fecha alta:</dt>
  <dd><%= @altas_bajas_hora.fecha_alta %></dd>

  <dt>Fecha baja:</dt>
  <dd><%= @altas_bajas_hora.fecha_baja %></dd>

  <dt>Situacion revista:</dt>
  <dd><%= @altas_bajas_hora.situacion_revista %></dd>

  <dt>Horas:</dt>
  <dd><%= @altas_bajas_hora.horas %></dd>

  <dt>Ciclo carrera:</dt>
  <dd><%= @altas_bajas_hora.ciclo_carrera %></dd>

  <dt>Anio:</dt>
  <dd><%= @altas_bajas_hora.anio %></dd>

  <dt>Division:</dt>
  <dd><%= @altas_bajas_hora.division %></dd>

  <dt>Turno:</dt>
  <dd><%= @altas_bajas_hora.turno %></dd>

  <dt>Codificacion:</dt>
  <dd><%= @altas_bajas_hora.codificacion %></dd>

  <dt>Oblig:</dt>
  <dd><%= @altas_bajas_hora.oblig %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @altas_bajas_hora.observaciones %></dd>

  <br/><br/>
  <%= link_to altas_bajas_horas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_altas_bajas_hora_path(@altas_bajas_hora), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to altas_bajas_hora_path(@altas_bajas_hora), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
