<% establecimiento_ids = @lote_impresion.alta_cargos.map(&:establecimiento_id) %>
<% @lote_impresion.baja_cargos.map(&:establecimiento_id).each do |id| %>
  <% establecimiento_ids << id %>
<% end %>

<% Establecimiento.where(id: establecimiento_ids).each do |e| %>
  
  <div class="page-header">
    <h3><b>Impresi처n N째 <%= @lote_impresion.id %> ---- Escuela N째 <%= e.codigo_jurisdiccional %></b></h4>
    <h5><b>Lugar de pago <%= e.lugar_pago %> --- Fecha impresi처n: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></b></h3>
  </div>

  <legend>Altas</legend>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>CUIT/CUIL.</td>
        <td>Sec.</td>
        <td>Apellido y nombre</td>
        <td>Cargo</td>
        <td>Cu</td>
        <td>Di</td>
        <td>Tu</td>
        <td>Sit. Rev</td>
        <td>Fecha alta</td>
        <td>Fecha baja</td>
        <td>Observaciones</td>
      </tr>
        <% @lote_impresion.alta_cargos.where(establecimiento_id: e.id).each do |c| %>   
          <tr>
            <td><%= c.persona.cuil %></td>
            <td><%= c.secuencia %></td>
            <td><%= c.persona.to_s %></td>
            <td><%= c.cargo %></td>
            <td><%= c.curso.to_s %></td>
            <td><%= c.division.to_s %></td>
            <td><%= c.turno.to_s %></td>
            <td><%= c.situacion_revista %></td>
            <td><%= Util.fecha_a_es(c.fecha_alta) %></td>        
            <td><%= Util.fecha_a_es(c.fecha_baja) %></td>        
            <td><%= c.observaciones %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <legend>Bajas</legend>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>CUIT/CUIL</td>
        <td>Sec.</td>
        <td>Apellido y nombre</td>         
        <td>Cargo</td>         
        <td>Cu</td>
        <td>Di</td>
        <td>Tu</td>
        <td>Sit. Rev</td>
        <td>Fecha alta</td>
        <td>Fecha baja</td>
        <td>Observaciones</td>
      </tr>
      <% @lote_impresion.baja_cargos.where(establecimiento_id: e.id).each do |c| %>   
        <tr>
          <td><%= c.persona.cuil %></td>
          <td><%= c.secuencia %></td>
          <td><%= c.persona.to_s %></td>
          <td><%= c.cargo %></td>
          <td><%= c.curso.to_s %></td>
          <td><%= c.division.to_s %></td>
          <td><%= c.turno.to_s %></td>
          <td><%= c.situacion_revista %></td>
          <td><%= Util.fecha_a_es(c.fecha_alta) %></td>        
          <td><%= Util.fecha_a_es(c.fecha_baja) %></td>
          <td><%= c.observaciones %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-break"></div>

<% end %>