<legend>Novedades de Cargos no docentes</legend>

<% establecimiento_ids = @lote_impresion.alta_cargo_no_docentes.map(&:establecimiento_id) %>
<% @lote_impresion.baja_cargo_no_docentes.map(&:establecimiento_id).each do |id| %>
  <% establecimiento_ids << id %>
<% end %>

<% Establecimiento.where(id: establecimiento_ids).each do |e| %>

  <div class="page-header">
    <h3><b>Impresi처n N째 <%= @lote_impresion.id %> ---- Escuela N째 <%= e.codigo_jurisdiccional %></b></h4>
    <h5><b>Lugar de pago <%= e.lugar_pago %> --- Fecha impresi처n: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></b></h3>
  </div>

  <legend>Altas</legend>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Establecimiento</th>
        <th>CUIT/CUIL</th>
        <th>Sec.</th>
        <th>Apellido y nombre</th>         
        <th>Tu</th>
        <th>Fecha alta</th>
        <th>Fecha baja</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <% @lote_impresion.alta_cargo_no_docentes.where(establecimiento_id: e.id).each do |c| %>
        <tr>
          <td><%= c.establecimiento.to_s %></td>
          <td><%= c.persona.cuil %></td>
          <td><%= c.secuencia %></td>
          <td><%= c.persona.to_s %></td>
          <td><%= c.turno.to_s %></td>
          <td><%= Util.fecha_a_es(c.fecha_alta) %></td>        
          <td><%= Util.fecha_a_es(c.fecha_baja) %></td>        
          <td><%= c.observaciones %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <legend>Bajas</legend>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>CUIT/CUIL</th>
        <th>Sec.</th>
        <th>Apellido y nombre</th>         
        <th>Tu</th>
        <th>Fecha alta</th>
        <th>Fecha baja</th>
        <th>Motivo baja</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <% @lote_impresion.baja_cargo_no_docentes.where(establecimiento_id: e.id).each do |c| %>
        <tr>
          <td><%= c.persona.cuil %></td>
          <td><%= c.secuencia %></td>
          <td><%= c.persona.to_s %></td>
          <td><%= c.turno.to_s %></td>        
          <td><%= Util.fecha_a_es(c.fecha_alta) %></td>        
          <td><%= Util.fecha_a_es(c.fecha_baja) %></td>
          <td><%= MotivoBaja.find(h.motivo_baja).to_s %></td>
          <td><%= c.observaciones %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-break"></div>

<% end %>