<dl class="dl-horizontal">

<legend>Novedades de Horas</legend>

<legend>Altas</legend>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Agente</th>         
      <th>Ciclo</th>
      <th>Curso</th>
      <th>Situaci贸n Revista</th>
      <th>Horas</th>
      <th>Codificaci贸n</th>
      <th>Fecha Alta</th>
      <th>Fecha Baja</th>
    </tr>
  </thead>
  <tbody>
    <% @lote_impresion.altas_bajas_horas.each do |h| %>
      <tr>
        <td><%=h.persona.nro_documento.to_s + ' - ' + h.persona.to_s %></td>
        <td><%= h.ciclo_carrera %></td>
        <td><%= h.anio.to_s + ' / ' + h.division.to_s %></td>
        <td><%= h.situacion_revista %></td>
        <td><%= h.horas %></td>
        <td><%= Materium.find(h.materia_id).codigo %></td>
        <td><%= Util.fecha_a_es(h.fecha_alta) %></td>
        <td><%= Util.fecha_a_es(h.fecha_baja) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<legend>Bajas</legend>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Agente</th>         
      <th>Ciclo</th>
      <th>Curso</th>
      <th>Situaci贸n Revista</th>
      <th>Horas</th>
      <th>Codificaci贸n</th>
      <th>Fecha Alta</th>
      <th>Fecha Baja</th>
    </tr>
  </thead>
  <tbody>
    <% @lote_impresion.impresion_bajas.each do |h| %>
      <tr>
        <td><%=h.persona.nro_documento.to_s + ' - ' + h.persona.to_s %></td>
        <td><%= h.ciclo_carrera %></td>
        <td><%= h.anio.to_s + ' / ' + h.division.to_s %></td>
        <td><%= h.situacion_revista %></td>
        <td><%= h.horas %></td>
        <td><%= Materium.find(h.materia_id).codigo %></td>
        <td><%= Util.fecha_a_es(h.fecha_alta) %></td>
        <td><%= Util.fecha_a_es(h.fecha_baja) %></td>
      </tr>
    <% end %>
  </tbody>
</table>