<dl class="dl-horizontal">

<% establecimiento_ids = @lote_impresion.altas_bajas_horas.map(&:establecimiento_id) %>
<% @lote_impresion.impresion_bajas.map(&:establecimiento_id).each do |id| %>
  <% establecimiento_ids << id %>
<% end %>

<% Establecimiento.where(id: establecimiento_ids).each do |e| %>

  <div class="page-header">
    <h3><b>Impresión N° <%= @lote_impresion.id %> ---- Escuela N° <%= e.codigo_jurisdiccional %></b></h4>
    <h5><b>Lugar de pago <%= e.lugar_pago %> --- Fecha impresión: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></b></h3>
  </div>

  <legend><h5>Altas</h5></legend>
  <table class="table table-bordered table-striped table-compact">
  <tbody>
      <tr>
        <td>TD</td>
        <td>N° doc.</td>
        <td>Sec.</td>
        <td>Apellido y nombre</td>         
        <td>Ca</td>
        <td>Ci</td>
        <td>Cu</td>
        <td>Di</td>
        <td>Tu</td>
        <td>Ma</td>
        <td>Horas</td>
        <td>Sit. Rev</td>
        <td>Fecha alta</td>
        <td>Fecha baja</td>
        <td>LP</td>
        <td>Observaciones</td>
      </tr>

      <% @lote_impresion.altas_bajas_horas.where(establecimiento_id: e.id).each do |h| %>
        <tr>
          <td><%= h.persona.tipo_documento.codigo %></td>
          <td><%= h.persona.nro_documento %></td>
          <td><%= h.secuencia %></td>
          <td><%= h.persona.to_s %></td>
          <td><%= h.plan.codigo %></td>
          <td><%= h.ciclo_carrera %></td>
          <td><%= h.anio.to_s %></td>
          <td><%= h.division.to_s %></td>
          <td><%= h.turno.to_s %></td>
          <td><%= h.materium.codigo.to_s.rjust(AltasBajasHora::LONGITUD_CODIGO,'0') %></td>
          <td><%= h.horas %></td>
          <td><%= h.situacion_revista %></td>
          <td><%= Util.fecha_a_es(h.fecha_alta) %></td>
          <td><%= Util.fecha_a_es(h.fecha_baja) %></td>
          <% if !h.lugar_pago.nil? %>
            <td><%= h.lugar_pago.codigo %></td>
          <% else %>
            <td>&nbsp;</td>
          <% end %> 

          <td><%= h.observaciones %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <legend><h5>Bajas</h5></legend>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>TD</td>
        <td>N° doc.</td>
        <td>Sec.</td>
        <td>Apellido y nombre</td>         
        <td>Ca</td>
        <td>Ci</td>
        <td>Cu</td>
        <td>Di</td>
        <td>Tu</td>
        <td>Ma</td>
        <td>Horas</td>
        <td>Sit. Rev</td>
        <td>Fecha alta</td>
        <td>Fecha baja</td>
        <td>LP</td>
        <td>Observaciones</td>
      </tr>
      <% @lote_impresion.impresion_bajas.where(establecimiento_id: e.id).each do |h| %>
        <tr>
          <td><%= h.persona.tipo_documento.codigo %></td>
          <td><%= h.persona.nro_documento %></td>
          <td><%= h.secuencia %></td>
          <td><%= h.persona.to_s %></td>
          <% if h.plan != nil %>
            <td><%= h.plan.codigo %></td>
          <% else %>
            <td> </td>
          <% end %>
          <td><%= h.ciclo_carrera %></td>
          <td><%= h.anio.to_s %></td>
          <td><%= h.division.to_s %></td>
          <td><%= h.turno.to_s %></td>
          <td><%= h.materium.codigo.to_s.rjust(AltasBajasHora::LONGITUD_CODIGO,'0') %></td>
          <td><%= h.horas %></td>
          <td><%= h.situacion_revista %></td>
          <td><%= Util.fecha_a_es(h.fecha_alta) %></td>
          <td><%= Util.fecha_a_es(h.fecha_baja) %></td>
          <% if !h.lugar_pago.nil? %>
            <td><%= h.lugar_pago.codigo %></td>
          <% else %>
            <td>&nbsp;</td>
          <% end %> 
          <td><%= h.observaciones %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-break"></div>

<% end %>