
<dl class="dl-horizontal">

<div class="page-header">
  <h4><b>Impresión N° <%= @lote_impresion.id %></b></h4>
  <h5>Fecha impresión: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></h5>
</div>

  <% if @lote_impresion.tipo_id == 1 %>
    <%= render 'horas' %>
  <% else %>
    <%= render 'cargos' %>
  <% end %>

  <dt>Observaciones:</dt>
  <dd><%= @lote_impresion.observaciones %></dd>

  <br/>
</dl>
