
<dl class="dl-horizontal">

<div class="page-header">
  <h4><b>Impresi처n N째 <%= @lote_impresion.id %></b></h4>
  <h5>Fecha impresi처n: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></h5>
</div>

<% @e = Establecimiento.find(session[:establecimiento])%>            
<div class="page-header">
  <h3>Escuela N째 <%= @e.to_s %></h3>
</div>

  <% if @lote_impresion.tipo_id == 1 %>
    <%= render 'horas' %>
  <% else %>
    <% if @lote_impresion.tipo_id == 2 %>
      <%= render 'cargos' %>
    <% else %>
      <%= render 'cargos_no_docentes' %>
    <% end %>
  <% end %>

  <dt>Observaciones:</dt>
  <dd><%= @lote_impresion.observaciones %></dd>

  <br/>
</dl>
