<div class="page-header">
  <h1>Impresión N° <%= @lote_impresion.id %></h1>
  <h4>Fecha impresion: <%= @lote_impresion.fecha_impresion %></h1>
</div>

<dl class="dl-horizontal">
  
  <legend>Novedades de Horas</legend>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Agente</th>         
        <th>Ciclo</th>
        <th>Curso</th>
        <th>Situacion Revista</th>
        <th>Horas</th>
        <th>Codificación</th>
        <th>Fecha Alta</th>
        <th>Fecha Baja</th>
      </tr>
    </thead>
    <tbody>
      <% @lote_impresion.altas_bajas_horas.each do |h| %>
        <tr>
          <td><%=h.persona.nro_documento.to_s + ' - ' + h.persona.to_s %></td>
          <td><%= h.ciclo_carrera %></td>
          <td><%= h.anio.to_s + ' / ' + h.division.to_s %></td>
          <td><%= h.situacion_revista %></td>
          <td><%= h.horas %></td>
          <td><%= h.codificacion %></td>
          <td><%= h.fecha_alta %></td>
          <td><%= h.fecha_baja %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <dt>Observaciones:</dt>
  <dd><%= @lote_impresion.observaciones %></dd>

    <br/><br/>


  <%= link_to lote_impresions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_lote_impresion_path(@lote_impresion), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to lote_impresion_path(@lote_impresion), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
