<div class="page-header">
  <h1>Impresión N° <%= @lote_impresion.id %></h1>
  <h4>Fecha impresión: <%= Util.fecha_a_es(@lote_impresion.fecha_impresion) %></h1>
</div>

  <% if @lote_impresion.tipo_id == 1 %>
    <%= render 'horas' %>
  <% else %>
    <%= render 'cargos' %>
  <% end %>

  <dt>Observaciones:</dt>
  <dd><%= @lote_impresion.observaciones %></dd>

  <br/><br/>


  <%= link_to lote_impresions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <a class="btn btn-info" href="javascript:abrir_reporte('<%=lote_impresion_path(@lote_impresion)%>.pdf',0,1,1,1,1,1,1,1500,900,100,100,1);"> <span class="glyphicon glyphicon-print"></span> Imprimir</a>
</dl>
