<div class="page-header">
  <h1>Cargo confirmado</h1>
</div>

<dl class="dl-horizontal">
  <dt>Inscripcion:</dt>
  <dd><%= @cargo_inscrip_docs.inscripcion_id %></dd>

  <dt>Persona:</dt>
  <dd><%= @cargo_inscrip_docs.persona_id %></dd>

  <br/><br/>
  <%= link_to cargo_inscrip_docs_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_cargo_inscrip_doc_path(@cargo_inscrip_docs), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to cargo_inscrip_doc_path(@cargo_inscrip_docs), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
