<% if user_signed_in? then %>
  <div class="text-center">
    <div class="row">
      <div class="col-sm-1 col-md-2">

      </div>
    <% if current_user.role? :incompatibilidad %>
      <div class="col-md-4">
        <legend> Incompatibilidad</legend>
        <center>
          <%= link_to "Planilla incompatibilidad", planilla_incompatibilidads_path, :tabindex => "-1", :class => "btn btn-success btn-block" %>
        </center>
      </div>
    <% else %>
  
      <% if true%>
        <br>
        <br>
        <strong><h3 style="color: red">ESTAMOS ACTUALIZANDO LA BASE DE DATOS, AGUARDE UN MOMENTO. GRACIAS</h3></strong>
        <br>
        <br>
      <% end %>

      <div class="col-sm-11 col-md-10">
        <div class="col-md-4">
          <legend>Novedades de Horas</legend>
          <center>
            <%= link_to "Alta de Horas", altas_bajas_horas_path, :tabindex => "-1", :class => "btn btn-success btn-block" %>
            <%= link_to "Baja de Horas", altas_bajas_horas_index_bajas_path, :tabindex => "-1", :class => "btn btn-danger btn-block" %>
            <% if (current_user.role? :sadmin) then %>
              <%= link_to "Listado de Personas", personas_path, :tabindex => "-1", :class => "btn btn-primary btn-block" %>
            <% end %>
          </center>
      </div>

      <div class="col-md-4">
      <legend> Novedades de Cargo</legend>
        <center>
          <%= link_to "Alta de Cargos", cargos_path, :tabindex => "-1", :class => "btn btn-success btn-block" %>
          <%= link_to "Baja de Cargos", cargos_index_bajas_path, :tabindex => "-1", :class => "btn btn-danger btn-block" %>
          <% if (current_user.role? :sadmin) then %>
            <%= link_to "Listado de Establecimientos", establecimientos_path, :tabindex => "-1", :class => "btn btn-primary btn-block" %>
          <% end %>
        </center>
        <br/>
        <br/>
        <br/>
        <%= link_to "http://www.chubut.edu.ar/preguntas/Preguntas_frecuentes_mnp.pdf", :target => "_blank", :class => 'btn btn-success btn-block' do %>
          <span class="glyphicon glyphicon-question-sign"></span>
          Preguntas frecuentes
        <% end %>
      </div>

      <div class="col-md-4">
      <legend> Novedades de Auxiliares</legend>
        <center>
          <%= link_to "Alta de Auxiliares", cargo_no_docentes_path, :tabindex => "-1", :class => "btn btn-success btn-block" %>
          <%= link_to "Baja de Auxiliares", cargo_no_docentes_index_bajas_path, :tabindex => "-1", :class => "btn btn-danger btn-block" %>
          <% if (current_user.role? :sadmin) then %>
            <%= link_to "Listado de Establecimientos", establecimientos_path, :tabindex => "-1", :class => "btn btn-primary btn-block" %>
          <% end %>
        </center>
      </div>


      <!--<div class="col-md-4">
      <legend> Inscripciones</legend>
        <center>
          <%= link_to "Inscripciones Docentes", new_inscripcions_path(:persona_id => current_user.id), :tabindex => "-1", :class => "btn btn-success btn-block" %>

        </center>
      </div>-->
      
      </div>

    <% end %>
      
      
    </div> 
  </div>
<% end %>