<%= javascript_include_tag "util.js" %>
<%= javascript_include_tag "licencia.js" %>

<style type="text/css">
.form-group{
  margin-left: 0px;
  margin-right: 0px;
}
</style>
  
<fieldset>
  <div class="form-snpe" >
    <div class="row">
      <%= select_tag 'tipo_documento', options_from_collection_for_select(TipoDocumento.all, "id", "nombre", TipoDocumento.where(nombre: "DNI").first.id), {:id => "select_tipo_documento", :class=>"form-control form-select form-doc form-alta" } %>
      <%= text_field_tag 'dni', "", {:class => "text-field form-doc form-alta form-control", :id => "input_dni2", :placeholder =>"N° Documento", :maxlength=>"8"} %>
      <button type="button" id="btn_buscar_persona" class="btn btn-default" data-dismiss="modal">Buscar</button>
    </div>
    <div class="row">
      <div id="datos_persona" class="well" style="display: none;">
        <%= label_tag 'cuil', "", {:id => "label_cuil"} %><br/>
        <%= label_tag 'apellidos', "", {:id => "label_apellidos", :placeholder => "Apellido/s"} %><br/>
        <%= label_tag 'fecha_nacimiento',"",{:id => "datepicker3"} %><br/>
        <%= label_tag 'Datos_Domicilio', "",{:id => "Datos_Domicilio"} %><br/>
        <%= label_tag 'calle', "", {:id => "label_calle"} %><br/>
      </div>
    </div>
  </div>
</fieldset>

        
<% @listado_de_datepickers = ['datepicker', 'datepicker2', 'datepicker3'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });

  


  </script>

<% end %>

 <script type="text/javascript">
  $("#input_dni2").keyup(function(e){
        
       if(e.which == 13){//Enter key pressed
        $('#btn_buscar_persona').click();//Trigger search button click event
       }
       var dni = parseInt($("#input_dni2").val(),10);
       if (!Number.isNaN(dni)) //Verifico que se haya ingresaod un dni 
       { 
          $.ajax({
            url: '/soft/snpe/util/buscar_persona/'+dni,
            type: 'POST',
          })
          .done(function(data) {            
            if (data != null) { 
                
              $("#datos_persona").show();           
              $("#label_nombres").text(data.nombres);
              $("#label_apellidos").text('Apellido y nombre: '+data.apeynom);
              $("#label_cuil").text('CUIT/CUIL: '+data.cuil);
              $("#label_calle").text('Calle: '+data.calle);
              $("#datepicker3").text('Fecha de nacimiento: '+data.fecha_nacimiento.split("-")[2]+"-"+data.fecha_nacimiento.split("-")[1]+"-"+data.fecha_nacimiento.split("-")[0]);
              $("#label_calle").text('Calle: '+data.calle);
              $("#Datos_Domicilio").text("-------Datos Domicilio---------------");
            }
            else{
              //alert("La persona no existe. Por favor cargue sus datos");
              $("#datos_persona").hide();           
              $("#label_nombres").text("");
              $("#label_apellidos").text("");
              $("#label_cuil").text("");
              $("#label_calle").text("");
              $("#Datos_Domicilio").text("-------Datos Domicilio---------------");
              $("#datepicker3").text("");
            }
          })
        }
    });  
</script>