<%= javascript_include_tag "util.js" %>
<%= javascript_include_tag "licencia.js" %>
<%= form_for(@licencia, :html => { :class => "form-horizontal" }) do |f| %>
<style type="text/css">
.form-group{
  margin-left: 0px;
  margin-right: 0px;
}
</style>
  <% if @licencia.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @licencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <div class="form-snpe" >
      <div class="row">
        <%= select_tag 'tipo_documento', options_from_collection_for_select(TipoDocumento.all, "id", "nombre"), {:id => "select_tipo_documento", :class=>"form-control form-select form-doc form-alta"} %>
        <%= text_field_tag 'dni', "", {:class => "text-field form-doc form-alta form-control solo_numerico", :id => "input_dni2", :placeholder =>"N° Documento", :maxlength=>"8"} %>
      </div>
      <div class="row">
        <%= text_field_tag 'fecha_nacimiento',"",{:class => "form-fecha form-alta text-field form-control", :id => "datepicker3", :placeholder => "F. Nacimiento"} %>          
        <%= text_field_tag 'cuil', "", {:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Cuil - ej: 27-31923381-5", :class => "form-alta text-field form-control solo_numerico", :id => "input_cuil", :placeholder => "Cuil", :maxlength=>"13", :pattern=>"[0-9]{11}", :oninvalid=>"setCustomValidity('Por favor respete el formato')"} %>
        <%= text_field_tag 'nombres', "", {:class => "form-alta text-field form-control", :id => "input_nombres", :placeholder => "Nombre/s"} %>
        <%= text_field_tag 'apellidos', "", {:class => "form-alta text-field form-control", :id => "input_apellidos", :placeholder => "Apellido/s"} %>
       
        <button type="button" id="btn_buscar_persona" class="btn btn-default" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </fieldset>



      <div class="modal-body">
       <table id="tabla" class="table table-striped table-bordered table-hover">
         
       </table>
      </div>
     

<div class="modal fade" id="dias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio' %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin' %>
        <%= select_tag "Articulo", options_from_collection_for_select(Articulo.all, "id", :to_s_descripcion),:class => "col-sm-6", :id => "select_articulo" %>

       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn_licencia_horas" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>

<% end %>


        
<% @listado_de_datepickers = ['datepicker', 'datepicker2', 'datepicker3'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });

  


  </script>

<% end %>

 <script type="text/javascript">
  $("#input_dni2").keyup(function(){
       var dni = parseInt($("#input_dni2").val(),10);
       $("#datos_persona").show();
        $.ajax({
          url: '/soft/snpe/util/buscar_persona/'+dni,
          type: 'POST',
        })
        .done(function(data) {
          if (data != null) {
            $("#input_nombres").val(data.nombres);
            $("#input_apellidos").val(data.apellidos);
            $("#input_cuil").val(data.cuil);
            $("#datepicker3").val(data.fecha_nacimiento.split("-")[2]+"-"+data.fecha_nacimiento.split("-")[1]+"-"+data.fecha_nacimiento.split("-")[0]);
            $("#select_tipo_documento").val(data.tipo_documento_id);
          }
          else{
            //alert("La persona no existe. Por favor cargue sus datos");
            $("#input_nombres").val("");
            $("#input_apellidos").val("");
            $("#input_cuil").val("");
            $("#datepicker3").val("");
            $("#select_tipo_documento").val(1);
          }
        })
    });

  var id_horas;

  $('#dias').on('shown.bs.modal', function (event) {      
      id_horas = $(event.relatedTarget).attr('id_horas');
    });

  $('#btn_licencia_horas').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio").val();
      fecha_fin = $("#input_fecha_fin").val();
      articulo = $("#select_articulo").val();
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_horas/'+id_horas+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo,
          type: 'POST',
        })
      .done(function(data) {
        
        tabla_liquidacion.api().ajax.reload();      
      })
    });

  $('#btn_buscar_persona').on('click', function () {
      var dni = parseInt($("#input_dni2").val(),10);
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_horas/'+id_horas+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo,
          type: 'POST',
        })
      .done(function(data) {
        
        tabla_liquidacion.api().ajax.reload();      
      })
    });



  $( "#input_fecha_inicio" ).datepicker({dateFormat:"dd-mm-yy",
              dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
              changeYear: true,
              yearRange: "1910:<%= Date.today.year + 10 %>", 
              monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
              monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
              navigationAsDateFormat: true,
              nextText: "Sig", 
              prevText: "Ant", 
              showAnim: "explode"
  });
$( "#input_fecha_fin" ).datepicker({dateFormat:"dd-mm-yy",
              dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
              changeYear: true,
              yearRange: "1910:<%= Date.today.year + 10 %>", 
              monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
              monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
              navigationAsDateFormat: true,
              nextText: "Sig", 
              prevText: "Ant", 
              showAnim: "explode"
  });
</script>