<% if (current_user.role? :escuela ) %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Personal Activo
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-personal-activo" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_index_bajas_path(format: :json) %>" >
        <thead>
          <tr>
            <th>DNI</th>
            <th>CUIL</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Cue</th>
            <th>Establecimiento</th>
            <th>Curso</th>
            <th>Div</th>
            <th>Fecha Alta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <hr/>
<% end %>

<% @licencia = Licencium.new %>
<%= render 'form_licencia', licencia: @licencia %>

<hr id="div_hr_horas"/>
<div id="div_horas" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Horas
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-horas-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_licencia_permitida_path(format: :json, dni: 1) %>" >
        <thead>
          <tr>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Cue</th>
            <th>Establecimiento</th>
            <th>Curso</th>
            <th>Div</th>
            <th>Observaciones</th>
            <th>Fecha Alta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <hr id="div_hr_cargos"/>
  <div id="div_cargos" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Cargos
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-cargos-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= cargos_licencia_permitida_path(format: :json,dni: 0) %>" >
        <thead>
          <tr>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Cue</th>
            <th>Establecimiento</th>
            <th>Curso</th>
            <th>Div</th>
            <th>Observaciones</th>
            <th>Fecha Alta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <hr/>


 <hr id="div_hr_licencias"/>
  <div id="div_licencias" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Licencias
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-licencium" class="table table-striped table-bordered table-hover" data-source = "<%= licencia_path(format: :json,dni: 0) %>" >
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Descripcion</th>
              <th>Fecha Desde</th>
              <th>Fecha Hasta</th>
              <th>Articulo</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  <hr/>


  <div class="modal fade" id="modal_licencia_horas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia horas</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio', Date.today %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin', Date.today %>
        <hr/>
        <div class="row">
        <%= select_tag "Articulo", options_from_collection_for_select(Articulo.all, "id", :to_s_descripcion),:prompt => "Seleccionar articulo",:class => "col-sm-6", :id => "select_articulo_horas" %>
        </div>
        <hr/>
        
        <div id="alerta-dias" class="alert alert-info"></div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn_licencia_horas" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_licencia_cargos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia cargos</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio2', Date.today %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin2' , Date.today%>
        <%= select_tag "Articulo", options_from_collection_for_select(Articulo.all, "id", :to_s_descripcion),:prompt => "Seleccionar articulo",:class => "col-sm-6", :id => "select_articulo_cargos" %>

        <div id="alerta-dias" class="alert alert-info"></div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn_licencia_cargos" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_licencia_final" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia final</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio3' %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin3' %>
        

       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn_licencia_final" class="btn btn-default" data-dismiss="modal">Guardar licencia</button>
      
      </div>
    </div>
  </div>
</div>

<% @listado_de_datepickers = ['input_fecha_inicio', 'input_fecha_fin', 'input_fecha_inicio2', 'input_fecha_fin2','input_fecha_inicio3', 'input_fecha_fin3'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });



  </script>

<% end %>

<script type="text/javascript">
 
    var tabla_licencia = $('#tabla-licencium').dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-licencium').data('source'),
      pagingType: "simple",
      retrieve: true,
    });

     var tabla_horas_licencia =  $('#tabla-horas-licencia').dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-horas-licencia').data('source'),
      pagingType: "simple",
      paginate: false,
      filter: false,
     
    });

    var tabla_cargos_licencia = $('#tabla-cargos-licencia').dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-cargos-licencia').data('source'),
      pagingType: "simple",
      paginate: false,
      filter: false,
     
    });
  
 $("#div_horas").hide();
 $("#div_cargos").hide();
 $("#div_hr_horas").hide();
 $("#div_hr_cargos").hide();
 $("#div_hr_licencias").hide();
 $("#div_licencias").hide();
 $("#alerta-dias").hide();
 

  $("#select_articulo_horas" ).change(function() {
          
          var id_articulo = parseInt($("#select_articulo_horas option:selected").val(),10);
         
          $.ajax({
            url: '/soft/snpe/licencia/buscar_articulo_dias_hora/'+id_articulo+'/'+id_horas,
            type: 'GET',
          })
          .done(function(data) {
       
            
            $("#alerta-dias").html("Le quedan "+data+" dias de licencias en este Articulo");
            $("#alerta-dias").show();
          }) 



  });

  $("#select_articulo_cargos" ).change(function() {
          
          var id_articulo = parseInt($("#select_articulo_cargos option:selected").val(),10);
         
          $.ajax({
            url: '/soft/snpe/licencia/buscar_articulo_dias_cargo/'+id_articulo+'/'+id_horas,
            type: 'GET',
          })
          .done(function(data) {
       
            
            $("#alerta-dias").html("Le quedan "+data+" dias de licencias en este Articulo");
            $("#alerta-dias").show();
          }) 



  });



  var tabla_personal_activo = $('#tabla-personal-activo')
    .on('draw.dt', function () {
      $('.popup-fecha')
        .on('save', function(e, params) {
          tabla_personal_activo.api().ajax.reload();
          //tabla_bajas_efectivas.api().ajax.reload();
        })
        .editable({
          savenochange: true,
          success: function(response, newValue) {
            if(response.status == 'error') return response.msg; //msg will be shown in editable form
          }
        });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing: true,
      serverSide: true,
      ajax : $('#tabla-personal-activo').data('source'),
      pagingType: "simple",
      "pageLength": 5,
    });

    var dni
    $('#btn_buscar_persona').on('click', function () {
      
      dni = parseInt($("#input_dni2").val(),10);
        
      $("#div_horas").show();
      $("#div_cargos").show();
      $("#div_hr_horas").show();
      $("#div_hr_cargos").show();
      $("#div_hr_licencias").show();
      $("#div_licencias").show();
      
      tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni);
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni);
      
      tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni);
      
      tabla_horas_licencia.api().ajax.reload();
      tabla_cargos_licencia.api().ajax.reload();
      tabla_licencia.api().ajax.reload();
    });


    var id_horas;
  var id_cargos;

  $('#modal_licencia_horas').on('shown.bs.modal', function (event) {      
      id_horas = $(event.relatedTarget).attr('id_horas');
    });

  $('#modal_licencia_horas').on('hidden.bs.modal', function (e) {
    $("#alerta-dias").hide();
    $("#select_articulo_horas" ).val("");
  });

  $('#btn_licencia_horas').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio").val();
      fecha_fin = $("#input_fecha_fin").val();
      articulo = $("#select_articulo_horas").val();
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_horas/'+id_horas+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo,
          type: 'POST',
        })
      .done(function(data) {
        
        tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni); 
        tabla_horas_licencia.api().ajax.reload();
        tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni); 
        tabla_licencia.api().ajax.reload();
        $("#select_articulo_horas" ).val("");    
      })
    });

  
  $('#modal_licencia_cargos').on('shown.bs.modal', function (event) {      
      id_cargos = $(event.relatedTarget).attr('id_cargos');
    });

  $('#modal_licencia_horas').on('hidden.bs.modal', function (e) {
    $("#alerta-dias").hide();
  });


  $('#btn_licencia_cargos').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio2").val();
      fecha_fin = $("#input_fecha_fin2").val();
      articulo = $("#select_articulo2").val();
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_cargos/'+id_cargos+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo,
          type: 'POST',
        })
      .done(function(data) {
        
        tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni); 
        tabla_cargos_licencia.api().ajax.reload();
         tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni); 
        tabla_licencia.api().ajax.reload();          
      })
 });


  $('#modal_licencia_final').on('shown.bs.modal', function (event) {      
      id_lic = $(event.relatedTarget).attr('id_lic');
      
      $('#input_fecha_inicio3').val($(event.relatedTarget).attr('fecha_desde'));
      
      $("#input_fecha_fin3").val($(event.relatedTarget).attr('fecha_hasta'));
      
    });
  $('#modal_licencia_cargos').on('hidden.bs.modal', function (e) {
    
  });

  $('#btn_licencia_final').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio3").val();
      fecha_fin = $("#input_fecha_fin3").val();
     
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_final/'+id_lic+'/'+fecha_inicio+'/'+fecha_fin,
          type: 'POST',
        })
      .done(function(data) {
        tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni);
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni);
      
      tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni);
      
      tabla_horas_licencia.api().ajax.reload();
      tabla_cargos_licencia.api().ajax.reload();
      tabla_licencia.api().ajax.reload();
              
      })
 });

</script>