<%= render 'form_licencia' %>


<hr id="div_hr_horas"/>
<div id="div_horas" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Horas
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-horas-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_licencia_permitida_path(format: :json, dni: 0) %>" >
        <thead>
          <tr>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Establecimiento</th>
            <th>Ciclo</th>
            <th>Año</th>
            <th>Div</th>
            <th>Turno</th>
            <th>Materia</th>
            <th>Fecha Alta</th>
            <th class="text-center col-md-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>


  <hr id="div_hr_cargos"/>
  <div id="div_cargos" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Cargos
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
      <table id="tabla-cargos-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= cargos_licencia_permitida_path(format: :json,dni: 0) %>" >
        <thead>
          <tr>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Establecimiento</th>
            <th>Sit Rev / Cargo</th>
            <th>Turno</th>
            <th>Curso</th>
            <th>Div</th>
            <th>Observaciones</th>
            <th>Fecha Alta</th>
            <th class="text-center col-md-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <hr/>

  <hr id="div_hr_cargos"/>
  <div id="div_cargos_no_docentes" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Cargos Auxiliares
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
         <table id="tabla-cargos-no-docentes-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= cargos_no_docentes_licencia_permitida_path(format: :json,dni: 0) %>" >
          <thead>
           <tr>
            <th>Secuencia</th>
            <th>CJ</th>
            <th>Establecimiento</th>
            <th>Observaciones</th>
            <th>Fecha Alta</th>
            <th class="text-center col-md-1">Acciones</th>
           </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
 </div>
  <hr/>

 <hr id="div_hr_licencias"/>
  <div id="div_licencias" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Licencias
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-licencium" class="table table-striped table-bordered table-hover" data-source = "<%= licencia_path(format: :json,dni: 0) %>" >
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Secuencia</th>
              <th>Turno</th>
              <th>Ciclo</th>
              <th>Año</th>
              <th>División</th>
              <th>Sit. Rev.</th>
              <th>Grupo</th>
              <th>Descripción</th>
              <th style="width: 50px;">Fecha Desde</th>
              <th style="width: 50px;">Fecha Hasta</th>
              <th>Artículo</th>
              <th class="text-center col-md-1">Estado</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  <hr/>



  <div class="modal fade" id="modal_licencia_horas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia horas</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio', Date.today %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin'%>
        <hr/>
        <div class="row">
        <%= select_tag "Articulo", options_from_collection_for_select(Articulo.joins(:tipo_articulo).where(tipo_articulos: {descripcion: "Docente"}), "id", :to_s_descripcion),:prompt => "Seleccionar articulo",:class => "form-control col-sm-6", :id => "select_articulo_horas" %>
        </div>
        <hr/>
        <div id="alerta-dias" class="alert alert-info"> </div>
        <div id="anio_lic" >
           <%= label_tag "Año de licencia (solo en casos de licencias anuales)", nil,  :class => "control-label" %>
           <%= select_tag :input_anio_lic, options_for_select([['2017', 2017], ['2016', 2016], ['2015', 2015], ['2014', 2014], ['2013', 2013], ['2012', 2012], ['2011', 2011], ['2010', 2010]], 0,), {:prompt => "Seleccionar fecha"} %> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btn_licencia_horas" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_licencia_cargos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia cargos</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio2', Date.today %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin2'%>
        <hr/>
        <div class="row">
          <%= select_tag "Articulo", options_from_collection_for_select(Articulo.joins(:tipo_articulo).where(tipo_articulos: {descripcion: "Docente"}), "id", :to_s_descripcion),:prompt => "Seleccionar articulo",:class => "form-control col-sm-6", :id => "select_articulo_cargos" %>
      </div>
        <hr/>
        <div id="alerta-dias-cargo" class="alert alert-info"></div>
             <div id="anio_lic_1" >
           <%= label_tag "Año de licencia (solo en casos de licencias anuales)", nil,  :class => "control-label" %>
           <%= select_tag :input_anio_lic_1, options_for_select([['2017', 2017], ['2016', 2016], ['2015', 2015], ['2014', 2014], ['2013', 2013], ['2012', 2012], ['2011', 2011], ['2010', 2010]], 0,), {:prompt => "Seleccionar fecha"} %> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btn_licencia_cargos" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_licencia_cargos_no_docentes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia cargos auxiliares</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio4', Date.today %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin4'%>
        <hr/>
        <div class="row">
          <%= select_tag "Articulo", options_from_collection_for_select(Articulo.joins(:tipo_articulo).where(tipo_articulos: {descripcion: "Auxiliar"}), "id", :to_s_descripcion),:prompt => "Seleccionar articulo",:class => "col-sm-6", :id => "select_articulo_cargos_no_docente" %>
        </div>
        <hr/>
        <div id="alerta-dias-cargo-no-docentes" class="alert alert-info"></div>
        <div id="anio_lic_2" >
           <%= label_tag "Año de licencia (solo en casos de licencias anuales)", nil,  :class => "control-label" %>
           <%= select_tag :input_anio_lic_2, options_for_select([['2017', 2017], ['2016', 2016], ['2015', 2015], ['2014', 2014], ['2013', 2013], ['2012', 2012], ['2011', 2011], ['2010', 2010]], 0,), {:prompt => "Seleccionar fecha"} %> 
        </div>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btn_licencia_cargos_no_docentes" class="btn btn-default" data-dismiss="modal">Guardar</button>
      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_licencia_final" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar licencia final</h4>
      </div>
      <div class="modal-body">
        <%= label_tag "Fecha Inicio", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_inicio3' %>
        <%= label_tag "Fecha Fin", nil,  :class => "control-label" %>
        <%= text_field_tag 'input_fecha_fin3' %>
        <%= label_tag "Cierre por baja", nil,  :class => "control-label" %>
        <%= check_box_tag 'por_baja' %>
        <br>
        <%= label_tag "Prestador que certifica la licencia: ", nil,  :class => "control-label" %>
        <%= select_tag "prestador", options_from_collection_for_select(Prestador.all, "id", "nombre"), :prompt => "Seleccionar Prestador", id: "prestador"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btn_licencia_final" class="btn btn-default" data-dismiss="modal">Finalizar licencia</button>
        <button type="button" id="btn_cancelar" class="btn btn-default" data-dismiss="modal">Cancelar licencia</button>
      
      </div>
    </div>
  </div>
</div>



<% @listado_de_datepickers = ['input_fecha_inicio', 'input_fecha_fin', 'input_fecha_inicio2', 'input_fecha_fin2','input_fecha_inicio4','input_fecha_fin4','input_fecha_inicio3','input_fecha_fin3'] %>

<% @listado_de_datepickers.each do |l| %>

  <script type="text/javascript">
      
        $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
        dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
        changeYear: true,
        yearRange: "1910:<%= Date.today.year + 10 %>", 
        monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
        navigationAsDateFormat: true,
        nextText: "Sig", 
        prevText: "Ant", 
        showAnim: "explode"
          });

  </script>

<% end %>



<script type="text/javascript">

  $(document).ready(function() {
  $('select#prestador').select2();
   });

  $(document).ready(function() {
  $('select#select_articulo_cargos_no_docente').select2();
   });

  $('#input_fecha_inicio').change(function(){
    $('#input_fecha_fin').datepicker('option','minDate',$('#input_fecha_inicio').val());
  });

  $('#input_fecha_inicio2').change(function(){
    $('#input_fecha_fin2').datepicker('option','minDate',$('#input_fecha_inicio2').val());
  });

  $('#input_fecha_inicio3').change(function(){
    $('#input_fecha_fin3').datepicker('option','minDate',$('#input_fecha_inicio3').val());
  });

  $('#input_fecha_inicio4').change(function(){
    $('#input_fecha_fin4').datepicker('option','minDate',$('#input_fecha_inicio4').val());
  });  

  var tabla_licencia = $('#tabla-licencium').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-licencium').data('source'),
    pagingType: "simple",
    retrieve: true,
    columnDefs: [
            {
                "targets": [ 5 ],
                "searchable": false,
                "orderable": false
            }
        ]

  });

  var tabla_personas = $('#tabla-persona').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-persona').data('source'),
    pagingType: "simple",
    retrieve: true,
    columnDefs: [
            {
                "targets": [ 7 ],
                "searchable": false,
                "orderable": false
            }
        ]

  });

  var tabla_horas_licencia =  $('#tabla-horas-licencia').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-horas-licencia').data('source'),
    pagingType: "simple",
    retrieve: true,
    columnDefs: [
            {
                "targets": [ 9 ],
                "searchable": false,
                "orderable": false
            }
        ]
   
  });

  var tabla_cargos_licencia = $('#tabla-cargos-licencia').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-cargos-licencia').data('source'),
    pagingType: "simple",
    retrieve: true,
    columnDefs: [
            {
                "targets": [ 9 ],
                "searchable": false,
                "orderable": false
            }
        ]
   
  });

  var tabla_cargos_no_docentes_licencia = $('#tabla-cargos-no-docentes-licencia').dataTable({
    language : {"sUrl": "<%= asset_path('language.es.json') %>",},
    processing : true,
    serverSide : true,
    ajax : $('#tabla-cargos-no-docentes-licencia').data('source'),
    pagingType: "simple",
    retrieve: true,
    columnDefs: [
            {
                "targets": [ 5 ],
                "searchable": false,
                "orderable": false
            }
        ]
   
  });

  var id_horas;
  var id_cargos;
  var id_cargos_no_docentes;
  $("#div_horas").hide();
  $("#div_cargos").hide();
  $("#div_hr_horas").hide();
  $("#div_hr_cargos").hide();
  $("#div_hr_horas").hide();
  $("#div_cargos_no_docentes").hide();
  $("#div_hr_licencias").hide();
  $("#div_licencias").hide();
  $("#alerta-dias").hide();
  $("#anio_lic").hide();
  $("#anio_lic_1").hide();
  $("#anio_lic_2").hide();
  $("#alerta-dias-cargo").hide();


  var tabla_personal_activo = $('#tabla-personal-activo')
    .on('draw.dt', function () {
      $('.popup-fecha')
        .on('save', function(e, params) {
          tabla_personal_activo.api().ajax.reload();
          //tabla_bajas_efectivas.api().ajax.reload();
        })
        .editable({
          savenochange: true,
          success: function(response, newValue) {
            if(response.status == 'error') return response.msg; //msg will be shown in editable form
          }
        });
    })
    .dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing: true,
      serverSide: true,
      ajax : $('#tabla-personal-activo').data('source'),
      pagingType: "simple",
      "pageLength": 5,
      columnDefs: [
            {
                "targets": [ 10 ],
                "searchable": false,
                "orderable": false
            }
        ]
    });

    var dni
    $('#btn_buscar_persona').on('click', function () {
      dni = parseInt($("#input_dni2").val(),10);
        
      $("#div_horas").show();
      $("#div_cargos").show();
      $("#div_hr_horas").show();
      $("#div_hr_cargos").show();
      $("#div_hr_horas").show();
      $("#div_cargos_no_docentes").show();
      $("#div_hr_licencias").show();
      $("#div_licencias").show();
      $("#div_personas").show();
      $("#div_hr_personas").show();
      
      tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni);
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni);
      tabla_cargos_no_docentes_licencia.api().ajax.url('<%= cargos_no_docentes_licencia_permitida_path %>?dni='+dni);
      tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni);

      tabla_horas_licencia.api().ajax.reload();
      tabla_cargos_licencia.api().ajax.reload();
      tabla_cargos_no_docentes_licencia.api().ajax.reload();
      tabla_licencia.api().ajax.reload();
      tabla_personas.api().ajax.reload();
    });


  //--------------------------------Horas------------------------------------

  $('#modal_licencia_horas').on('shown.bs.modal', function (event) {      
      id_horas = $(event.relatedTarget).attr('id_horas');
    });

  $('#modal_licencia_horas').on('hidden.bs.modal', function (e) {
    $("#alerta-dias").hide();
    $("#anio_lic").hide();
    $("#select_articulo_horas" ).val("");
  });

  $('#btn_licencia_horas').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio").val();
      fecha_fin = $("#input_fecha_fin").val();
      articulo = $("#select_articulo_horas").val();
      fecha_anio_lic = $("#input_anio_lic").val();


      if (fecha_inicio == ""){
        alert("Debe seleccionar una fecha de inicio");
        return; 
      }  
      if (articulo == ""){
        alert("Debe seleccionar un Artículo");
        return; 
      }   
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_horas/'+id_horas+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo+'/'+fecha_anio_lic,
          type: 'POST',
        })
      .done(function(data) {
        console.log(data)
        tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni); 
        tabla_horas_licencia.api().ajax.reload();
        tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni); 
        tabla_licencia.api().ajax.reload();
        $("#select_articulo_horas" ).val("");
        $("#input_anio_lic" ).val("");
        if (data != "") {
          alert(data); 
        };
      })
    });

  $("#select_articulo_horas" ).change(function() {
    var id_articulo = parseInt($("#select_articulo_horas option:selected").val(),10);
    $.ajax({
      url: '/soft/snpe/licencia/buscar_articulo_dias_hora/'+id_articulo+'/'+id_horas,
      type: 'GET',
      })
        .done(function(data) {
        $("#alerta-dias").html("Cantidad máxima de días en este artículo: "+data);
        $("#alerta-dias").show();
        if (id_articulo == 241){
            $("#anio_lic").show();
            $("#input_anio_lic" ).val(""); 
            }
            else
            {
            $("#anio_lic").hide();
            } 
        }) 
  });

//---------------------------Cargos-------------------------------------
  
  $('#modal_licencia_cargos').on('shown.bs.modal', function (event) {      
      id_cargos = $(event.relatedTarget).attr('id_cargos');
    });

  $('#modal_licencia_cargos').on('hidden.bs.modal', function (e) {
    $("#alerta-dias-cargo").hide();
    $("#anio_lic_1").hide();
    $("#select_articulo_cargos").val("");
  });


  $('#btn_licencia_cargos').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio2").val();
      fecha_fin = $("#input_fecha_fin2").val();
      articulo = $("#select_articulo_cargos").val();
      fecha_anio_lic_1 = $("#input_anio_lic_1").val();
      if (fecha_inicio == ""){
        alert("Debe seleccionar una fecha de inicio");
        return; 
      }  
      if (articulo == ""){
        alert("Debe seleccionar un Artículo");
        return; 
      }   
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_cargos/'+id_cargos+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo+'/'+fecha_anio_lic_1,
          type: 'POST',
        })
      .done(function(data) {
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni); 
        tabla_cargos_licencia.api().ajax.reload();
        tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni); 
        tabla_licencia.api().ajax.reload();
        $("#select_articulo_cargos" ).val("");
        $("#input_anio_lic_1" ).val("");          
      })
  });

  $("#select_articulo_cargos" ).change(function() {
    var id_articulo = parseInt($("#select_articulo_cargos option:selected").val(),10);
      $.ajax({
        url: '/soft/snpe/licencia/buscar_articulo_dias_cargo/'+id_articulo+'/'+id_cargos,
        type: 'GET',
      })
        .done(function(data) {
          $("#alerta-dias-cargo").html("Cantidad máxima de días en este artículo: "+data);
          $("#alerta-dias-cargo").show();
          if (id_articulo == 241){
            $("#anio_lic_1").show();
            $("#input_anio_lic_1" ).val(""); 
          }
          else
          {
          $("#anio_lic_1").hide();
          } 
          }) 
  });

  //---------------------------Cargos no docentes-------------------------------------
  
  $('#modal_licencia_cargos_no_docentes').on('shown.bs.modal', function (event) {      
      id_cargos_no_docentes = $(event.relatedTarget).attr('id_cargo_no_docentes');
    });

  $('#modal_licencia_cargos_no_docentes').on('hidden.bs.modal', function (e) {
    $("#alerta-dias-cargo-no-docentes").hide();
    $("#anio_lic_2").hide();
    $("#select_articulo_cargos_no_docente").val("");
  });


  $('#btn_licencia_cargos_no_docentes').on('click', function () {
      fecha_inicio = $("#input_fecha_inicio4").val();
      fecha_fin = $("#input_fecha_fin4").val();
      articulo = $("#select_articulo_cargos_no_docente").val();
      fecha_anio_lic_2 = $("#input_anio_lic_2").val();
      if (fecha_inicio == ""){
        alert("Debe seleccionar una fecha de inicio");
        return; 
      } 
      if (articulo == ""){
        alert("Debe seleccionar un Artículo");
        return; 
      }   
        
      $.ajax({
          url: '/soft/snpe/licencia/guardar_licencia_cargos_no_docentes/'+id_cargos_no_docentes+'/'+fecha_inicio+'/'+fecha_fin+'/'+articulo+'/'+fecha_anio_lic_2,
          type: 'POST',
        })
      .done(function(data) {
        tabla_cargos_no_docentes_licencia.api().ajax.url('<%= cargos_no_docentes_licencia_permitida_path %>?dni='+dni); 
        tabla_cargos_no_docentes_licencia.api().ajax.reload();
        tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni); 
        tabla_licencia.api().ajax.reload();
        $("#select_articulo_cargos_no_docente" ).val("");
        $("#input_anio_lic_2" ).val("");           
      })
  });

  $("#select_articulo_cargos_no_docente" ).change(function() {
    var id_articulo = parseInt($("#select_articulo_cargos_no_docente option:selected").val(),10);
      $.ajax({
        url: '/soft/snpe/licencia/buscar_articulo_dias_cargo_no_docente/'+id_articulo+'/'+id_cargos_no_docentes,
        type: 'GET',
      })
        .done(function(data) {
          $("#alerta-dias-cargo-no-docentes").html("Cantidad máxima de días en este artículo: "+data);
          $("#alerta-dias-cargo-no-docentes").show();
          if (id_articulo == 289){
            $("#anio_lic_2").show();
            $("#input_anio_lic_2" ).val(""); 
          }
          else
          {
          $("#anio_lic_2").hide();
          } 
          })
  });

//----------------------------Confirmacion de licencia-----------------------

  $('#modal_licencia_final').on('shown.bs.modal', function (event) {      
      id_lic = $(event.relatedTarget).attr('id_lic');
      $('#input_fecha_inicio3').val($(event.relatedTarget).attr('fecha_desde'));
      $("#input_fecha_fin3").val($(event.relatedTarget).attr('fecha_hasta'));
      $("#prestador").val($(event.relatedTarget).attr('prestador'));
  });

  $('#modal_licencia_cargos').on('hidden.bs.modal', function (e) {
    
  });

  $('#btn_licencia_final').on('click', function () {
    if ($("#input_fecha_fin3").val() == ""){
      alert("Para finalizar la licencia la fecha de FIN no puede estar vacia ");
      return;
    }
    fecha_inicio = $("#input_fecha_inicio3").val();
    fecha_fin = $("#input_fecha_fin3").val();
    por_baja = $("#por_baja:checked").val();
    console.log(por_baja);
    prestador = $("#prestador").val();
    console.log(prestador);
   
    $.ajax({
      url: '/soft/snpe/licencia/guardar_licencia_final/'+id_lic+'/'+fecha_inicio+'/'+fecha_fin+'/'+por_baja+'/'+prestador,
      type: 'POST',
      })
    .done(function(data) {
      console.log(data);
      tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni);
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni);
      tabla_cargos_no_docentes_licencia.api().ajax.url('<%= cargos_no_docentes_licencia_permitida_path %>?dni='+dni);
      tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni);
      tabla_horas_licencia.api().ajax.reload();
      tabla_cargos_licencia.api().ajax.reload();
      tabla_cargos_no_docentes_licencia.api().ajax.reload();
      tabla_licencia.api().ajax.reload();
      if (data != "") {
        alert(data) ; 
      };
    })
  });
   $('#tabla-persona').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-persona').data('source'),
        pagingType: "simple",
      });

  $('#btn_cancelar').on('click', function () {
    $.ajax({
      url: '/soft/snpe/licencia/cancelar_licencia/'+id_lic,
      type: 'POST',
      })
    .done(function(data) {
      tabla_horas_licencia.api().ajax.url('/soft/snpe/licencia/altas_bajas_horas_licencia_permitida/'+dni);
      tabla_cargos_licencia.api().ajax.url('/soft/snpe/licencia/cargos_licencia_permitida/'+dni);
      tabla_cargos_no_docentes_licencia.api().ajax.url('<%= cargos_no_docentes_licencia_permitida_path %>?dni='+dni);
      tabla_licencia.api().ajax.url('/soft/snpe/licencia/licencia_dadas/'+dni);
      tabla_horas_licencia.api().ajax.reload();
      tabla_cargos_licencia.api().ajax.reload();
      tabla_cargos_no_docentes_licencia.api().ajax.reload();
      tabla_licencia.api().ajax.reload();
      if (data != "") {
        alert(data) ; 
      };
      
    })
  });

</script>