<!-- <div class="jumbotron">
<center><h3> Licencias sin goce de Haberes CANCELADAS </h3></center>
<center><h3>Filtros</h3></center>
<table class="tabla-filtros">
  <thead>
    <tr>
      <th>Mes</th>
      <th>Año</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= select_tag 'Mes', options_for_select((1..12).to_a), :id => "select_mes", :prompt => "Seleccione mes"%></td>
      <td><%= select_tag 'anio', options_for_select((2017..Date.today.year.to_i).to_a), :id => "select_anio", :prompt => "Seleccione año"%></td>
    </tr>
  </tbody>
</table>
<center><button class="btn btn-primary btn-filtro" id="btn-filtrar">Filtrar</button></center>
</div>

<button id="btn-imprimir" class="btn btn-danger">
    <span class="glyphicon glyphicon-print"></span>
    Imprimir licencias
</button> -->

<h2><b>Licencias sin goce de Haberes CANCELADAS por departamento de Licencias</b></h2>

<h2>Horas</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
        <table id="tabla-licencia" class="table table-striped table-bordered table-hover" data-source = "<%= listado_licencias_canceladas_horas_path(format: :json, rango: params['rango']) %>">
          <thead>
              <tr>
                <th>Establ.</th>
                <th>Destino</th>
                <th>Sec.</th>              
                <th>Horas</th>
                <th>Persona</th>
                <th>Sit.Rev.</th>    
                <th>Curso</th>
                <th>Div.</th>
                <th>Materia</th>
                <th>Artículo</th>
                <th class="text-center col-md-1">Fecha Desde</th>
                <th class="text-center col-md-1">Fecha Hasta</th>
                <th class="text-center col-md-1">Estado Actual</th>
                <th class="text-center col-md-1">Motivo Cancelación</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>


<h2>Cargos</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
        <table id="tabla-licencia-cargos" class="table table-striped table-bordered table-hover" data-source = "<%= listado_licencias_canceladas_cargos_path(format: :json, rango: params['rango']) %>">
          <thead>
              <tr>
                <th>Establ</th>
                <th>Destino</th>                             
                <th>Sec.</th>               
                <th>Cargo</th>
                <th>Persona</th>
                <th>Sit. Rev.</th>    
                <th>Curso</th>
                <th>Div.</th>
                <th>Artículo</th>
                <th class="text-center col-md-1">Fecha Desde</th>
                <th class="text-center col-md-1">Fecha Hasta</th>
                <th class="text-center col-md-1">Estado Actual</th>
                <th class="text-center col-md-1">Motivo Cancelación</th>

              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>


<h2>Auxiliares</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
      </h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
        <table id="tabla-licencia-cnds" class="table table-striped table-bordered table-hover" data-source = "<%= listado_licencias_canceladas_cargos_no_docentes_path(format: :json, rango: params['rango']) %>">
          <thead>
              <tr>
                <th>Establ</th>
                <th>Organismo destino</th>
                <th>Sec.</th>               
                <th>Cargo</th>
                <th>Persona</th>
                <th>Situación Rev.</th>    
                <th>Artículo</th>
                <th class="text-center col-md-1">Fecha Desde</th>
                <th class="text-center col-md-1">Fecha Hasta</th>
                <th class="text-center col-md-1">Estado Actual</th>
                <th class="text-center col-md-1">Motivo de cancelación</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function($) {

    //Define el idioma de combodate
    moment.locale('es');
    $.fn.editable.defaults.mode = 'inline';
    var tabla_licencia = $('#tabla-licencia').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-licencia').data('source'),
        pagingType: "full",
        scrollCollapse: true,
        retrieve: true,
        columnDefs: [
                {
                    "targets": [ 10 ],
                    "searchable": false,
                    "orderable": false
                }
            ]

      });
    
    $.fn.editable.defaults.mode = 'inline';
    var tabla_licencia_cargos = $('#tabla-licencia-cargos').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-licencia-cargos').data('source'),
        pagingType: "full",
        scrollCollapse: true,
        retrieve: true,
        columnDefs: [
                {
                    "targets": [ 10 ],
                    "searchable": false,
                    "orderable": false
                }
            ]

      });

    $.fn.editable.defaults.mode = 'inline';
    var tabla_licencia_cargos_no = $('#tabla-licencia-cnds').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-licencia-cnds').data('source'),
        pagingType: "full",
        scrollCollapse: true,
        retrieve: true,
        columnDefs: [
                {
                    "targets": [ 10 ],
                    "searchable": false,
                    "orderable": false
                }
            ]

      });

    
  
    function getParams() {
      var params = '?mes=' + $('#select_mes').val()+'&anio=' + $('#select_anio').val();
      return  params
    };

    $('#btn-filtrar').on('click', function() {
      window.location.href = "<%= licencias_sin_goce_canceladas_path %>" + getParams();
    });

    $('#btn-imprimir').on('click', function(){
       window.location.href = '/soft/snpe/licencias/licencias_sin_goce_canceladas.pdf' + getParams();
    })

  });
</script>