<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="licencias">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Fecha Desde</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Hasta</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Apellido y nombres</Data></Cell>
          <Cell><Data ss:Type="String">Tipo de cargo</Data></Cell>
          <Cell><Data ss:Type="String">Articulo y descripción</Data></Cell>
          <Cell><Data ss:Type="String">Estado de la licencia</Data></Cell>
          <Cell><Data ss:Type="String">Establecimiento</Data></Cell>
          <Cell><Data ss:Type="String">Calle</Data></Cell>
          <Cell><Data ss:Type="String">Nro de Calle</Data></Cell>
          <Cell><Data ss:Type="String">Piso</Data></Cell>
          <Cell><Data ss:Type="String">Departamento</Data></Cell>
        </Row>
        <% @licenciasCnds.each do |s| %>
        <Row>
              <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_desde"]) %></Data></Cell>
              <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_hasta"]) %></Data></Cell>
              <% if s.altas_bajas_hora_id != nil %>
                 <% @perHoras = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.cant_horas %>
                 <% @cantPerHoras =  "Cantidad de Horas asignadas: "  + @perHoras.to_s %>
                 <Cell><Data ss:Type="String"><%= @cantPerHoras %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @PerCargo = Funcion.where(Cargo.find(s.cargo_id).cargo.to_i).first.to_s %>
                 <Cell><Data ss:Type="String"><%= @PerCargo.to_s %></Data></Cell>
                 <%else%>
                 <% @persCnds = Cargosnd.where(CargoNoDocente.find(s.cargo_no_docente_id).cargo.to_i).first.to_s %>
                 <Cell><Data ss:Type="String"><%= @persCnds.to_s %></Data></Cell>
              <%end%>
              <% if s.altas_bajas_hora_id != nil %>
                 <% @personaHoras = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.to_s%>
                 <Cell><Data ss:Type="String"><%= @personaHoras.to_s %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @personaCargo = Cargo.where(:id => s.cargo_id.to_i).first.persona.to_s%>
                 <Cell><Data ss:Type="String"><%= @personaCargo.to_s %></Data></Cell>
                 <%else%>
                 <% @personaCnds = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.to_s%>
                 <Cell><Data ss:Type="String"><%= @personaCnds.to_s %></Data></Cell>
              <%end%>
              <% if s.altas_bajas_hora_id != nil %>  
                 <Cell><Data ss:Type="String">Horas</Data></Cell>
                 <% elsif s.cargo_id != nil %>
                 <Cell><Data ss:Type="String">Cargo</Data></Cell>
                 <% else %>
                 <Cell><Data ss:Type="String">Auxiliar</Data></Cell>
              <% end %>
              <% @arti = Articulo.where(:id => s.articulo_id.to_i).first.codigo.to_s %>
              <% @desc = Articulo.where(:id => s.articulo_id.to_i).first.descripcion.to_s %>    
              <% @artdesc = @arti + "-" + @desc %>
              <Cell><Data ss:Type="String"><%= @artdesc.to_s %></Data></Cell>
         <Cell><Data ss:Type="String"><%= s["vigente"].to_s %></Data></Cell>
         <% @estab = session[:establecimiento] %>    
         <Cell><Data ss:Type="String"><%= Establecimiento.find(@estab.to_i).to_s %></Data></Cell>

              <% if s.altas_bajas_hora_id != nil %>
                 <% @personaCalle = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.calle%>
                 <Cell><Data ss:Type="String"><%= @personaCalle %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @personaCalle  = Cargo.where(:id => s.cargo_id.to_i).first.persona.calle%>
                 <Cell><Data ss:Type="String"><%= @personaCalle %></Data></Cell>
                 <%else%>
                 <% @personaCalle  = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.calle%>
                 <Cell><Data ss:Type="String"><%= @personaCalle %></Data></Cell>
              <%end%>

                <% if s.altas_bajas_hora_id != nil %>
                 <% @personaNroCalle = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.nro_calle%>
                 <Cell><Data ss:Type="String"><%= @personaNroCalle %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @personaNroCalle = Cargo.where(:id => s.cargo_id.to_i).first.persona.nro_calle%>
                 <Cell><Data ss:Type="String"><%= @personaNroCalle %></Data></Cell>
                 <%else%>
                 <% @personaNroCalle = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.nro_calle%>
                 <Cell><Data ss:Type="String"><%= @personaNroCalle%></Data></Cell>
              <%end%>

                <% if s.altas_bajas_hora_id != nil %>
                 <% @personaPiso = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.piso%>
                 <Cell><Data ss:Type="String"><%= @personaPiso %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @personaPiso = Cargo.where(:id => s.cargo_id.to_i).first.persona.piso%>
                 <Cell><Data ss:Type="String"><%= @personaPiso%></Data></Cell>
                 <%else%>
                 <% @personaPiso = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.piso%>
                 <Cell><Data ss:Type="String"><%= @personaPiso %></Data></Cell>
              <%end%>

                <% if s.altas_bajas_hora_id != nil %>
                 <% @personaDepto = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.depto%>
                 <Cell><Data ss:Type="String"><%= @personaDepto %></Data></Cell>
                 <% elsif s.cargo_id != nil%>
                 <% @personaDepto = Cargo.where(:id => s.cargo_id.to_i).first.persona.depto%>
                 <Cell><Data ss:Type="String"><%= @personaDepto %></Data></Cell>
                 <%else%>
                 <% @personaDepto = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.depto%>
                 <Cell><Data ss:Type="String"><%= @personaDepto %></Data></Cell>
              <%end%>

         </Row>
        <% end %>
      </Table>
    </Worksheet>
 </Workbook>
