<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="licencias">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Fecha Desde</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Hasta</Data></Cell>
          <Cell><Data ss:Type="String">Articulo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de creación de la licencia</Data></Cell>
          <Cell><Data ss:Type="String">Vigente</Data></Cell>
          <Cell><Data ss:Type="String">Nombre y Apellido</Data></Cell>
          <Cell><Data ss:Type="String">Descripcion del Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Descripcion del articulo</Data></Cell>
        </Row>
        <% @res.each do |s| %>
        <Row>
              <Cell><Data ss:Type="String"><%= s["fecha_desde"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["fecha_hasta"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["articulo_id"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["created_at"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["vigente"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["apeynom"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["cargo_desc"].to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= s["Articulo licenciado"].to_s %></Data></Cell>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
 </Workbook>
