<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="licencias">
      <Table>
        <Row>

          <Cell><Data ss:Type="String">Establecimiento</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Tipo</Data></Cell>
          <Cell><Data ss:Type="String">Horas</Data></Cell>
          <Cell><Data ss:Type="String">Apellido y nombres</Data></Cell>
          <Cell><Data ss:Type="String">Sit. Revista</Data></Cell>
          <Cell><Data ss:Type="String">Curso</Data></Cell>
          <Cell><Data ss:Type="String">División</Data></Cell>
          <Cell><Data ss:Type="String">Materia</Data></Cell>
          <Cell><Data ss:Type="String">Articulo y descripción</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Desde</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Hasta</Data></Cell>
          <Cell><Data ss:Type="String">Estado de la licencia</Data></Cell>
        </Row>
        <% @licenciasSg.each do |s| %>
        <Row>
            <% if s.altas_bajas_hora_id != nil %>
              <% @est_id = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.establecimiento_id%>
              <% @est_cod = Establecimiento.where(:id => @est_id).first.codigo_jurisdiccional%>
              <Cell><Data ss:Type="String"><%= @est_cod.to_s %></Data></Cell>
              <% @secuencia = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.secuencia%>
              <Cell><Data ss:Type="String"><%= @secuencia %></Data></Cell>
              <Cell><Data ss:Type="String">Horas</Data></Cell>
              <% @perHoras = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.cant_horas %>   %>
              <Cell><Data ss:Type="String"><%= @perHoras.to_s %></Data></Cell> 
              <% @personaHoras = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.persona.to_s%>
              <Cell><Data ss:Type="String"><%= @personaHoras.to_s %></Data></Cell>
              <% @sit_rev = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.situacion_revista%>
              <Cell><Data ss:Type="String"><%= @sit_rev.to_s %></Data></Cell>
              <% @curso = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.anio%>
              <Cell><Data ss:Type="String"><%= @curso.to_s %></Data></Cell>
              <% @div = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.division%>
              <Cell><Data ss:Type="String"><%= @div.to_s %></Data></Cell>
              <% @cod = AltasBajasHora.where(:id => s.altas_bajas_hora_id.to_i).first.codificacion%>
              <Cell><Data ss:Type="String"><%= @cod.to_s %></Data></Cell>
              <% @arti = Articulo.where(:id => s.articulo_id.to_i).first.codigo.to_s %>
              <% @desc = Articulo.where(:id => s.articulo_id.to_i).first.descripcion.to_s %>    
              <% @artdesc = @arti + "-" + @desc %>
              <Cell><Data ss:Type="String"><%= @artdesc.to_s %></Data></Cell>
              <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_desde"]) %></Data></Cell>
              <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_hasta"]) %></Data></Cell>      
              <Cell><Data ss:Type="String"><%= s["vigente"].to_s %></Data></Cell>
            <%end%>
        </Row>
        <% end %>
      </Table>
    </Worksheet>
 </Workbook>
