<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="licencias CNDS Sin Goce">
      <Table>
        <Row>

          <Cell><Data ss:Type="String">Establecimiento</Data></Cell>
          <Cell><Data ss:Type="String">Secuencia</Data></Cell>
          <Cell><Data ss:Type="String">Tipo de cargo</Data></Cell>
          <Cell><Data ss:Type="String">Cargo</Data></Cell>
          <Cell><Data ss:Type="String">Apellido y nombres</Data></Cell>
          <Cell><Data ss:Type="String">Situación Revista</Data></Cell>
          <Cell><Data ss:Type="String">Articulo y descripción</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Desde</Data></Cell>
          <Cell><Data ss:Type="String">Fecha Hasta</Data></Cell>
          <Cell><Data ss:Type="String">Estado de la licencia</Data></Cell>
        </Row>
        <% @licenciasCndsSg.each do |s| %>
        <Row>
               
              <% if s.cargo_no_docente_id != nil %>
                 <% @est_id = CargoNoDocente.where(:id => s.cargo_id.to_i).first.establecimiento_id%>
                 <% @est_cod = Establecimiento.where(:id => @est_id).first.codigo_jurisdiccional%>
                 <Cell><Data ss:Type="String"><%= @est_cod.to_s %></Data></Cell>
                 <% @sec = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.secuencia.to_s%>
                 <Cell><Data ss:Type="String"><%= @sec.to_s %></Data></Cell>
                 <Cell><Data ss:Type="String">Auxiliar</Data></Cell>
                 <% @persCnds = Cargosnd.where(CargoNoDocente.find(s.cargo_no_docente_id).cargo.to_i).first.to_s %>
                 <Cell><Data ss:Type="String"><%= @persCnds.to_s %></Data></Cell>
                 <% @personaCnds = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.persona.to_s%>
                 <Cell><Data ss:Type="String"><%= @personaCnds.to_s %></Data></Cell>
                <% @sit = CargoNoDocente.where(:id => s.cargo_no_docente_id.to_i).first.situacion_revista.to_s%>
                 <Cell><Data ss:Type="String"><%= @sit.to_s %></Data></Cell>
                <% @arti = Articulo.where(:id => s.articulo_id.to_i).first.codigo.to_s %>
                <% @desc = Articulo.where(:id => s.articulo_id.to_i).first.descripcion.to_s %>    
                <% @artdesc = @arti + "-" + @desc %>
                <Cell><Data ss:Type="String"><%= @artdesc.to_s %></Data></Cell>
                <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_desde"]) %></Data></Cell>
                <Cell><Data ss:Type="String"><%= Util.fecha_a_es(s["fecha_hasta"]) %></Data></Cell>
                <Cell><Data ss:Type="String"><%= s["vigente"].to_s %></Data></Cell>
            <%end%>
         </Row>
        <% end %>
      </Table>
    </Worksheet>
 </Workbook>
