<div class="page-header">
  <h1>Licencia - Descripción</h1>
</div>


  <%if @licencium.altas_bajas_hora != nil %>
    <h3><strong>Horas Cátedra</strong></h3>
  <%elsif @licencium.cargo != nil%>
    <h3><strong>Cargo Docente</strong></h3>
  <%elsif @licencium.cargo_no_docente%>
    <h3><strong>Cargo no docente</strong></h3>
  <%end%>

<dl class="dl-horizontal">
  <dt>Fecha desde:</dt>
  <dd><%= @licencium.fecha_desde %></dd>

  <dt>Fecha hasta:</dt>
  <dd><%= @licencium.fecha_hasta %></dd>

  <dt>Articulo:</dt>
  <dd><%= @licencium.articulo %></dd>

  <% if @licencium.anio_lic != nil %>
    <dt>Anio de Licencia Anual:</dt>
    <dd><%= @licencium.anio_lic%></dd>
  <%end%>

  <dt>Observaciones:</dt>
  <dd><%= @licencium.observaciones %></dd>

  <dt>Apellido y Nombre:</dt>
      <% if @licencium.altas_bajas_hora_id != nil %>
        <% @persona = AltasBajasHora.where(:id => @licencium.altas_bajas_hora_id.to_i).first.persona%>
      <% elsif @licencium.cargo_id != nil%>
        <% @persona  = Cargo.where(:id => @licencium.cargo_id.to_i).first.persona%>
      <%else%>
        <% @persona  = CargoNoDocente.where(:id => @licencium.cargo_no_docente_id.to_i).first.persona%>
      <%end%>
   <dd><%= @persona.apeynom %></dd>
   <dt>Numero de Documento:</dt>
   <dd><%= @persona.nro_documento %></dd>

  <dt>Entregó certificado: </dt>
  <%if @licencium.con_certificado %>
    <dd>SI</dd>
  <%else%>
    <dd>No</dd>
  <%end%>

  <dt>Entregó formulario: </dt>
  <%if @licencium.con_formulario %>
    <dd>SI</dd>
  <%else%>
    <dd>No</dd>
  <%end%>

  <br/><br/>
  <%= link_to licencia_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
</dl>
