<div class="page-header">
  <h1>Licencia - Descripción</h1>
</div>


  <%if @licencium.altas_bajas_hora != nil %>
    <h3><strong>Horas Cátedra</strong></h3>
  <%elsif @licencium.cargo != nil%>
    <h3><strong>Cargo Docente</strong></h3>
  <%elsif @licencium.cargo_no_docente%>
    <h3><strong>Cargo no docente</strong></h3>
  <%end%>

<dl class="dl-horizontal">
  <dt>Fecha desde:</dt>
  <dd><%= @licencium.fecha_desde %></dd>

  <dt>Fecha hasta:</dt>
  <dd><%= @licencium.fecha_hasta %></dd>

  <dt>Articulo:</dt>
  <dd><%= @licencium.articulo %></dd>

  <% if @licencium.anio_lic != nil %>
    <dt>Anio de Licencia Anual:</dt>
    <dd><%= @licencium.anio_lic%></dd>
  <%end%>

  <dt>Observaciones:</dt>
  <dd><%= @licencium.observaciones %></dd>

  <br/><br/>
  <%= link_to licencia_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
</dl>
