<div>
  <h3> Alta de licencia sin goce </h3>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Agente </th>
      <th>Secuencia </th>
      <th>Establecimiento </th>
      <th>Descripcion </th>
      <th>Curso </th>
      <th>Articulo </th>
      <th>Inicio / Fin </th>
      <th>Observaciones </th>
    </tr>
    <% @licencia_alta.each do |l|%>
      <tr>
        <td><%= l.agente %></td>
        <td><%= l.secuencia %></td>
        <td><%= l.establecimiento %></td>
        <td><%= l.descripcion %></td>
        <td><%= l.curso %></td>
        <td><%= l.articulo %></td>
        <td><%= l.fecha_desde %> / <%= l.fecha_hasta %> </td>
        <td><%= l.observaciones%> </td>
      </tr>
    <% end %>
  </table>

  <h3> Finalización de licencia sin goce </h3>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Agente </th>
      <th>Secuencia </th>
      <th>Establecimiento </th>
      <th>Descripcion </th>
      <th>Curso </th>
      <th>Articulo </th>
      <th>Inicio / Fin </th>
      <th>Observaciones </th>
      <th>Fecha de Baja</th>
    </tr>
    <% @licencia_fin.each do |l|%>
      <tr>
        <td><%= l.agente %></td>
        <td><%= l.secuencia %></td>
        <td><%= l.establecimiento %></td>
        <td><%= l.descripcion %></td>
        <td><%= l.curso %></td>
        <td><%= l.articulo %></td>
        <td><%= l.fecha_desde %> / <%= l.fecha_hasta %> </td>
        <td><%= l.observaciones%> </td>
        <%if l.altas_bajas_hora_id != nil%>
          <td> Fecha de baja: <%= AltasBajasHora.where(:id => l.altas_bajas_hora_id).first.fecha_baja%> </td>
        <%elsif l.cargo_id != nil%>
          <td>Fecha de baja: <%= Cargo.where(:id => l.altas_bajas_hora_id).first.fecha_baja%> </td>
        <%else%>
          <td>Fecha de baja: <%= CargoNoDocentec.where(:id => l.altas_bajas_hora_id).first.fecha_baja%> </td>
        <%end%>  
      </tr>
    <% end %>
  </table>
</div>
