<div class="jumbotron">
<center>  <h3>Filtros</h3> </center>
  <table class="tabla-filtros">
    <tr>
      <th>Mes</th>
      <th>Año</th>
    </tr>
    <tr>
      <td>
        <%= select_tag 'Mes', options_for_select((1..12).to_a), :id => "select_mes", :prompt => "Seleccione mes"%>
      </td>
      <td>
        <%= select_tag 'anio', options_for_select((2017..Date.today.year.to_i).to_a), :id => "select_anio", :prompt => "Seleccione año"%>
      </td>
    </tr>
  </table>
  <center><button class="btn btn-primary btn-filtro" id="btn-filtrar">Filtrar</button></center>
</div>
<div style="padding: 5px;">
  <table class="tabla-reportes">
    <head>
      <th> Agente </th>
      <th> Destino </th>
      <th> Secuencia </th>
      <th> Tipo de Cargo </th>
    </head>
    <body>
      <% @licencias_cargos.each do |l|%>
        <tr>
          <%if l.cargo_id != nil%>
            <td> <%= l.cargo.persona %> </td>
          <%elsif l.cargo_no_docente_id != nil%>
            <td> <%= l.cargo_no_docente.persona %> </td>
          <%else%>
            <td> <%= l.alta_baja_hora.persona %> </td>
          <%end%>

          <%if l.cargo_id != nil%>
            <td> <%= l.cargo.establecimiento %> </td>
          <%elsif l.cargo_no_docente_id != nil%>
            <td> <%= l.cargo_no_docente.establecimiento %> </td>
          <%else%>
            <td> <%= l.alta_baja_hora.establecimiento %> </td>
          <%end%>
          <%if l.cargo_id != nil%>
            <td> <%= l.cargo.secuencia %> </td>
          <%elsif l.cargo_no_docente_id != nil%>
            <td> <%= l.cargo_no_docente.secuencia %> </td>
          <%else%>
            <td> <%= l.alta_baja_hora.secuencia %> </td>
          <%end%>

          <%if l.cargo_id != nil%>
            <td> Cargo </td>
          <%elsif l.cargo_no_docente_id != nil%>
            <td> Cargo no Docente </td>
          <%else%>
            <td> Horas </td>
          <%end%>


        </tr>
      <% end %>
    </body>
  </table>

</div>

<script type="text/javascript">

  $(document).ready(function($) {
    
    function getParams() {
      var params = '?mes=' + $('#select_mes').val()+'&anio=' + $('#select_anio').val();
      return  params
    };


    $('#btn-filtrar').on('click', function() {
      window.location.href = "<%= licencia_traslados_path %>" + getParams();
    });
  });
</script>