<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="account-wall text-center">
                <legend></a> Iniciar Sesión</legend>
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b_apBg5gkMo/AAAAAAAAAAI/AAAAAAAAAAA/oqU5699FO6o/photo.jpg?sz=120" alt="">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin" }) do |f| %>
	                <%= f.email_field :email, :class => "form-control", :placeholder => "Correo Electrónico", :autofocus => true %>
	                <%= f.password_field :password, :placeholder => "Contraseña", :class => "form-control"%>
                    <label class="checkbox pull-right">
                        Recordarme <%= f.check_box :remember_me %>
                    </label>
	                <%= f.submit "Iniciar Sesión", :class => "btn btn-md btn-primary btn-block" %>
                    <%= link_to "Recuperar contraseña", new_password_path(resource_name), :class => "btn btn-md btn-primary btn-block" %>       
                    <%= link_to "Registrarse", new_user_registration_path, :class => "btn btn-md btn-success btn-block" %>        
	                <% if devise_mapping.rememberable? %>
	                	
	  				<% end %>
                <% end %>
                <br/>
            </div>
        </div>
    </div>
</div>