<div class="page-header">
  <h1>materium</h1>
</div>

<dl class="dl-horizontal">
  <dt>Codigo:</dt>
  <dd><%= @materium.codigo %></dd>

  <dt>Descripcion:</dt>
  <dd><%= @materium.descripcion %></dd>

  <br/><br/>
  <%= link_to materia_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_materium_path(@materium), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to materium_path(@materium), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
