<legend class="legend-small">Inasistencias <%= @mes %>/<%= @anio %> - Cargos Auxiliares</legend>

<% @e = Establecimiento.find(session[:establecimiento])%>            
<div class="page-header">
  <h3>Escuela N° <%= @e.to_s %></h3>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Agente</th>
      <th>Cargo</th>
      <th>Días</th>
      <th>Licencia dene</th>
      <th>Paro</th>
      <th>Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @asistencias.each do |c| %>
      <tr>
        <td><%= c.persona.nro_documento.to_s + " -- " + c.persona.apeynom %></td>
        <td><%= Cargosnd.find(c.cargo).to_s %></td>
        <td><%= c.ina_injustificada(@anio, @mes) %></td>
        <td><%= c.licencia_d(@anio, @mes) %></td>
        <td><%= c.paro(@anio, @mes) %></td>
        <td><%= c.observaciones_por_periodo(@anio, @mes) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>