<legend class="legend-small">Asistencia - Horas Cátedra</legend>

<% @e = Establecimiento.find(session[:establecimiento])%>            
<div class="page-header">
  <h3>Escuela N° <%= @e.to_s %></h3>
</div>

<table class="table table-bordered table-striped table-compact">
  <thead>
    <tr>
      <th>Agente</th>
      <th>Año/División</th>
      <th>Materia</th>
      <th>Oblig</th>
      <th>Licencia dene</th>
      <th>Paro</th>
      <th>Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @asistencias.each do |asistencia| %>
      <tr>
        <td><%= asistencia.persona.nro_documento.to_s + " -- " + asistencia.persona.apeynom %></td>
        <td><%= asistencia.anio.to_s + '/' + asistencia.division.to_s %></td>
        <td><%= asistencia.codificacion.to_s.rjust(AltasBajasHora::LONGITUD_CODIGO,'0') %></td>       
        <td><%= asistencia.ina_injustificada(@anio, @mes) %></td>
        <td><%= asistencia.licencia_d(@anio, @mes) %></td>
        <td><%= asistencia.paro(@anio, @mes)%></td>
        <td><%= asistencia.observaciones_por_periodo(@anio, @mes) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <br/><br/>

</dl>