<%= javascript_include_tag "daterangepicker"%>
<%= stylesheet_link_tag "daterangepicker-bs3" %>
<%= javascript_include_tag "util.js" %>

<legend class="legend-small">Asistencia - Cargos Auxiliares</legend>

<div>
  <select name="mes" id="select_mes" value="<%= @mes %>">
    <option value="1">Enero </option>
    <option value="2">Febrero </option>
    <option value="3">Marzo </option>
    <option value="4">Abril </option>
    <option value="5">Mayo </option>
    <option value="6">Junio </option>
    <option value="7">Julio </option>
    <option value="8">Agosto </option>
    <option value="9">Septiembre </option>
    <option value="10">Octubre </option>
    <option value="11">Noviembre </option>
    <option value="12">Diciembre </option>
  </select>
  <select name="anio" id="anio" value=" <%= @anio %>">
    <script language="javascript" type="text/javascript">
      var k;
      var d = new Date();
      var n = d.getFullYear(); 
      for(k=n;k>=1970;k--){ 
        document.write("<option value="+k+">"+k+"</option>");
      }
    </script>
  </select>

  <input id="btn-ir" class="btn btn-primary" type="submit" value="Ir">

</div>

</br>

<div class="container">
  <hr/>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Personal activo
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="tabla-asistencias" class="table table-striped table-bordered table-hover" data-source = "<%= asistencia_novedades_cargo_no_docente_path(format: :json, anio: @anio, mes: @mes) %>" >
          <thead>
            <tr>
              <th>Agente</th>
              <th>Cargo</th>
              <th>Días</th>
              <th>Licencia dene</th>
              <th>Paro</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <a class="btn btn-info" href="javascript:abrir_reporte('<%=cargo_no_docentes_imprimir_asistencia_path()%>.pdf',0,1,1,1,1,1,1,1500,900,100,100,1);"> <span class="glyphicon glyphicon-print"></span> Imprimir</a>

</div>

<script type="text/javascript">
  $(document).ready(function($) {

    //Define el idioma de combodate
    moment.locale('es');

    var tabla_horas_novedades = $('#tabla-asistencias').dataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-asistencias').data('source'),
      pagingType: "simple",
      columnDefs: [
            {
                "targets": [ 2, 3, 4, 5 ],
                "searchable": false,
                "orderable": false
            }
        ]
    })
    .on('draw.dt', function () {
      $( ".btn-ajax" ).on( "click", function() {
        var data_url = $(this).attr('data-url');
        $.ajax({
          url: data_url,
          type: 'GET',
        })
        .done(function(data) {
          tabla_horas_novedades.api().ajax.reload();
        });
      });
    });

    var mes = $("#select_mes").attr('value')
    $('#select_mes option[value='+mes+']').prop('selected', true);

    $('#btn-ir').click(function(){
      window.open("<%= asistencia_index_novedades_cargo_no_docente_path %>?anio=" + $('#anio').val() + "&mes=" + $('#select_mes').val(),"_self");
    });

  });
</script>