<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%if (user_signed_in? && (!current_user.role? :UserJunta)) then %>
        <%= link_to "SNPE", root_path, :class => "navbar-brand" %>
      <%end%>


    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
            
        <%if (user_signed_in? && (!current_user.role? :UserJunta)) then %>
          <li class="dropdown">
            <%= link_to "http://www.chubut.edu.ar/preguntas/Preguntas_frecuentes_mnp.pdf" do %>
              <span class="glyphicon glyphicon-question-sign"></span>
              Preguntas frecuentes
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span><% Establecimiento.where(:id => session[:establecimiento]).first() %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Establecimientos", establecimientos_de_usuario_path,  :tabindex => "-1" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <% if (user_signed_in?) && ((current_user.role? :cargaplanes) || (current_user.role? :personal) ) %>
        <%= render :partial => "layouts/menu_carga_planes" %>
      <% end %>
      <ul class="nav navbar-nav">
        <% if (user_signed_in? && (!current_user.role? :UserJunta)) then  %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carga de Novedades <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if (current_user.role? :licencia) then %>
                <li><%=link_to "POF", establecimiento_pof_path, :tabindex => "-1"%></li>
                <li><%=link_to "Inasistencia de Horas", asistencia_path, :tabindex => "-1"%></li>
                <li><%=link_to "Inasistencia de Cargos", asistencia_index_cargo_path, :tabindex => "-1"%></li>
                <li><%=link_to "Inasistencia de Cargos auxiliares", asistencia_index_cargo_no_docente_path, :tabindex => "-1"%></li> 
              <% end %>
             <% if (current_user.role? :junta) || (current_user.role? :docente) then %>
                    <li><%=link_to "Inscripciones Docente Primaria", inscripcions_path, :tabindex => "-1"%></li>
                    <% end %>
                    <% if current_user.role? :junta then %>
                    <li><%=link_to "Puntaje Docente (Rubros)", rubros_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Titulos", titulos_path, :tabindex => "-1"%></li>
                     <% end %>
              <% if ver_model("AltasBajasHora") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#" onclick='return false;'>Horas</a>
                  <ul class="dropdown-menu">
                    <li><%=link_to "Altas", altas_bajas_horas_path, :tabindex => "-1"%></li>                    
                    <li><%=link_to "Modificación", altas_bajas_horas_modificacion_path, :tabindex => "-1"%></li>
                     <!--% if ver_model("licencium")%-->
                      
                    <!--% end %-->
                    <li><%=link_to "Bajas", altas_bajas_horas_index_bajas_path, :tabindex => "-1"%></li>
                    <% if (current_user.role? :sadmin) || (current_user.role? :personal) then %>
                      <li><%=link_to "Novedades", horas_index_novedades_path, :tabindex => "-1"%></li>  
                    <% end %>
                    <% if ver_model("AltasBajasHora") %>
                      <li><%=link_to "Inasistencia", asistencia_path, :tabindex => "-1"%></li>  
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <% if ver_model("Cargo") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos</a>
                  <ul class="dropdown-menu">
                    <li><%=link_to "Altas", cargos_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Modificacion", cargos_modificacion_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Bajas", cargos_index_bajas_path, :tabindex => "-1"%></li>
                    <!--<li><%=link_to "Inscripciones Docente Primaria", buscar_cv_persona_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Puntaje Docente (Rubros)", rubros_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Titulos", titulos_path, :tabindex => "-1"%></li>-->
                    <% if (current_user.role? :sadmin) || (current_user.role? :personal) then %>
                      <li><%=link_to "Novedades", cargos_index_novedades_path, :tabindex => "-1"%></li>  
                    <% end %>
                    <% if ver_model("Cargo") %>
                      <li><%=link_to "Inasistencia", asistencia_index_cargo_path, :tabindex => "-1"%></li>                
                    <% end %>
                  </ul>
                </li>
              <% if ver_model("Cargo") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos auxiliares</a>
                  <ul class="dropdown-menu">
                    <% if (current_user.role? :sadmin) || (current_user.role? :personal) then %>
                    <li><%=link_to "Altas", cargo_no_docentes_path, :tabindex => "-1"%></li>
                    <% end %>
                    <li><%=link_to "Modificacion", cargo_no_docentes_modificacion_path, :tabindex => "-1"%></li>
                    <li><%=link_to "Bajas", cargo_no_docentes_index_bajas_path, :tabindex => "-1"%></li>
                    <% if (current_user.role? :sadmin) || (current_user.role? :personal) then %>
                      <li><%=link_to "Novedades", cargo_no_docentes_index_novedades_path, :tabindex => "-1"%></li>  
                    <% end %>
                    <% if ver_model("Cargo") %>
                      <li><%=link_to "Inasistencia", asistencia_index_cargo_no_docente_path, :tabindex => "-1"%></li>  
                    <% end %>
                  </ul>
                </li>

              <% end %>              
              <li><%=link_to "POF", establecimiento_pof_path, :tabindex => "-1"%></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <%if (user_signed_in? && (!current_user.role? :UserJunta)) then %>
        <%= render :partial => "layouts/menu_licencias" %>
      <%end%>

      <ul class="nav navbar-nav">
        <% if user_signed_in? then %>
        <% if (current_user.role? :sadmin) || (current_user.role? :personal)  then %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Novedades para imprimir <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if ver_model("AltasBajasHora") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#" onclick='return false;'>Horas</a>
                  <ul class="dropdown-menu">
                      <li><%=link_to "Altas y Bajas", horas_index_novedades_path, :tabindex => "-1"%></li>  
                      <li><%=link_to "Inasistencia", asistencia_index_novedades_alta_baja_hora_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
              <% end %>

              <% if ver_model("Cargo") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos</a>
                  <ul class="dropdown-menu">
                      <li><%=link_to "Altas y Bajas", cargos_index_novedades_path, :tabindex => "-1"%></li>  
                      <li><%=link_to "Inasistencia", asistencia_index_novedades_cargo_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
              <% end %>

              <% if ver_model("Cargo") then %>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos auxiliares</a>
                  <ul class="dropdown-menu">
                     <li><%=link_to "Altas y Bajas", cargo_no_docentes_index_novedades_path, :tabindex => "-1"%></li>  
                     <li><%=link_to "Inasistencia", asistencia_index_novedades_cargo_no_docente_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
              <% end %>
              <li><%=link_to "Traslados", licencia_traslados_path, :tabindex => "-1"%></li>
              <li><%=link_to "Lic sin goce", licencias_sin_goce_path, :tabindex => "-1"%></li>
            </ul>
          </li>
        <% end %>
        <% end %>
      </ul>     



<ul class="nav navbar-nav">
      <% if user_signed_in? then %>
      <% if (current_user.role? :licencia)  then %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Novedades para imprimir <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#" onclick='return false;'>Horas</a>
                  <ul class="dropdown-menu">
                      <li><%=link_to "Inasistencia", asistencia_index_novedades_alta_baja_hora_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos</a>
                  <ul class="dropdown-menu">
                      <li><%=link_to "Inasistencia", asistencia_index_novedades_cargo_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Cargos auxiliares</a>
                  <ul class="dropdown-menu">
                     <li><%=link_to "Inasistencia", asistencia_index_novedades_cargo_no_docente_path, :tabindex => "-1"%></li>  
                  </ul>
                </li>
                 <li><%=link_to "Lic sin goce", licencias_sin_goce_path, :tabindex => "-1"%></li>
            </ul>
          </li>
        <% end %>
        <% end %>
  </ul>    






















      <ul class="nav navbar-nav">
        <% if user_signed_in? then %>
            <% if (current_user.role? :sadmin) || (current_user.role? :personal) then %>
            <li><%=link_to "Impresiones", lote_impresions_path, :tabindex => "-1"%></li>  
            <% end %>
            <% if (current_user.role? :sadmin) then %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Información <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if ver_model("Establecimiento") then %>
                  <li><%=link_to "Establecimientos", establecimientos_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Persona") then %>
                  <li><%=link_to "Personas", personas_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("TipoDocumentos") then %>
                  <li><%=link_to "Tipos de documentos", tipo_documentos_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("LugarPago") then %>
                  <li><%=link_to "Lugares de pago", lugar_pagos_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Grupo") then %>
                  <li><%=link_to "Grupos", grupos_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Empresa") then %>
                  <li><%=link_to "Empresas", empresas_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Funcions") then %>
                  <li><%=link_to "Cargos docentes", funcions_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Cargosnds") then %>
                  <li><%=link_to "Cargos no docentes", cargosnds_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("SituacionRevista") then %>
                  <li><%=link_to "Situaciones de Revista", situacion_revista_path, :tabindex => "-1"%></li>
                <% end %>                
                <% if ver_model("Turno") then %>
                  <li><%=link_to "Turnos", turnos_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Materium") then %>
                  <li><%=link_to "Materias", materia_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Plans") then %>
                  <li><%=link_to "Planes de Estudio", plans_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Despliegues") then %>
                  <li><%=link_to "Despliegues", despliegues_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("EstablecimientoPlans") then %>
                  <li><%=link_to "Establecimientos y planes", establecimiento_plans_path, :tabindex => "-1"%></li>
                <% end %>
                <% if ver_model("Articulo") then %>
                  <li><%=link_to "Articulos", articulos_path, :tabindex => "-1"%></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav">
        <% if user_signed_in? then %>
          <% if (current_user.role? :sadmin) then %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Importaciones <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%=link_to "Importar altasBajasHoras", altas_bajas_horas_importar_path, :tabindex => "-1"%></li>
                  <li><%=link_to "Importar recibos del mes actual", altas_bajas_horas_importar_recibos_path, :tabindex => "-1"%></li>                  
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>

  
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido: <%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%=link_to "Mi cuenta", edit_user_registration_path, :tabindex => "-1"%></li>
              <li class="divider"></li>
              <li><%= link_to 'Salir', destroy_user_session_path, :tabindex => "-1" %></li>        
            </ul>
          <% else %>
          <li>
            <p class="navbar-text">¿Ya tienes una cuenta?</p>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Entrar</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <%= form_for(:user, :url => session_path(:user), html: { class: "form" }) do |f| %>
                      <div class="form-group">
                        <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
                      </div>
                      <div class="form-group">
                        <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
                      </div>
                      <div class="checkbox">
                        <%= f.check_box :remember_me %><%= f.label "Recordarme" %>
                      </div>
                      <%= f.submit 'Entrar', class: "btn btn-primary btn-block btn-login" %>
                    <% end %>
                  </div>
                  <div class="bottom text-center">
                    ¿Eres nuevo? <%= link_to "Registrarse", new_user_registration_path, :tabindex => "-1"%>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>