<div class="page-header">
  <h1>articulo</h1>
</div>

<dl class="dl-horizontal">
  <dt>Codigo:</dt>
  <dd><%= @articulo.codigo %></dd>

  <dt>Descripcion:</dt>
  <dd><%= @articulo.descripcion %></dd>

  <dt>Cantidad maxima dias:</dt>
  <dd><%= @articulo.cantidad_maxima_dias %></dd>

  <br/><br/>
  <%= link_to articulos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_articulo_path(@articulo), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to articulo_path(@articulo), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
