<div class="page-header">
  <h1>Artículo</h1>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @articulo.codigo %></dd>

  <dt>Descripción:</dt>
  <dd><%= @articulo.descripcion %></dd>

  <dt>Cantidad máxima dias:</dt>
  <dd><%= @articulo.cantidad_maxima_dias %></dd>

  <dt>Con goce:</dt>
  <dd><%= (@articulo.con_goce)? 'SI' : 'NO'  %></dd>

  <dt>Tipo de artículo:</dt>
  <dd><%= @articulo.tipo_articulo.to_s %></dd>

  <dt>Permite otro organismo:</dt>
  <dd><%= (@articulo.permite_otro_organismo)? 'SI' : 'NO'  %></dd>

  <br/><br/>
  <%= link_to articulos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_articulo_path(@articulo), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to articulo_path(@articulo), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
